fieldset {
}

.ie fieldset {
}

.ie7 .aui-fieldset {
}

.aui-fieldset {
}

.aui-dialog-iframe-popup .aui-fieldset {
}

.aui-fieldset .aui-field-content, .aui-field-row, .aui-button-holder, .aui-field-wrapper-content {
}

.aui-field-inline .aui-field-content, .aui-field-row .aui-field-content {
}

.aui-search-bar .aui-field-content {
}

.aui-search-bar .aui-field-content, .aui-search-bar .aui-button-content {
}

.aui-field-choice .aui-field-label {
}

.aui-field-date .aui-field-content {
}

legend {
}

.aui-fieldset-legend {
}

.aui-legend {
}

input {
}

input[type="text"], input[type="password"], input[type="file"], input[type="submit"], input[type="button"], input[type="reset"], select, textarea, .textarea, button, .aui-field-input-text {
}

select {
}

input[type="image"] {
}

input[type="submit"], input[type="button"], input[type="reset"], button {
}

input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:focus, input[type="button"]:focus, input[type="reset"]:focus, button:hover, button:focus {
}

input[type="submit"], input[type="button"], input[type="reset"], button, .lfr-actions.lfr-extended, .lfr-actions.lfr-extended ul {
}

.aui-button-disabled input[type], .aui-button-disabled button, .aui-button-disabled input[type]:hover, .aui-button-disabled input[type]:focus, .aui-button-disabled button:hover, .aui-button-disabled button:focus, .aui-buttonitem-disabled, .aui-buttonitem-disabled:hover, .lfr-actions.lfr-extended.disabled, .lfr-actions.lfr-extended.disabled ul, .lfr-actions.lfr-extended.disabled:hover, .lfr-actions.lfr-extended.disabled:hover ul {
}

.lfr-actions.disabled .taglib-text {
}

input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:hover, button:hover, .lfr-actions.lfr-extended:hover, .lfr-actions.lfr-extended:hover ul {
}

input[type="submit"]:focus, input[type="button"]:focus, input[type="reset"]:focus, button:focus, .lfr-actions.lfr-extended:focus, .lfr-actions.lfr-extended:focus ul {
}

input.aui-form-validator-error, textarea.aui-form-validator-error, select.aui-form-validator-error {
}

/* ---------- IE6 chokes on attribute selectors in a chain, so we separate them into their own rule ---------- */

.ie6 input.text, input.password, .ie6 input.submit, .ie6 input.file, .ie6 input.button, .ie6 button {
}

.ie6 input.submit, .ie6 input.button, .ie6 button, .ie6 .aui-button-disabled input.submit, .ie6 .aui-button-disabled input.button, .ie6 .aui-button-disabled button {
}

input.focus, textarea.focus, .ie6 input.focus, .ie6 textarea.focus {
}

.ie6 .aui-button-disabled input.submit, .ie6 .aui-button-disabled input.button, .ie6 .aui-button-disabled button {
}

.ie .aui-button-disabled input {
}