/* ---------- Portlet wrapper and icons ---------- */

.freeform .portlet {
}

body.portlet {
}

.portlet-topper {
}

.portlet-title {
}

.portlet-title-text {
}

.portlet-title img {
}

.portlet-topper-toolbar {
}

.portlet-topper-toolbar .nobr {
}

.ie6 .portlet-topper-toolbar .icon {
}

.portlet-content, .portlet-minimized .portlet-content-container {
}

.portlet-minimized .portlet-content {
}

.portlet-icon-back {
}

.portlet-nested-portlets .portlet-boundary {
}

/* ---------- Borderless portlet ---------- */

.portlet-borderless-container {
}

.ie6 .portlet-borderless-container {
}

.portlet-borderless-bar {
}

.portlet-borderless-bar .portlet-actions {
}

.ie6 .portlet-borderless-bar .portlet-actions, .ie7 .portlet-borderless-bar .portlet-actions {
}

.portlet-borderless-container:hover .portlet-borderless-bar {
}

.portlet-borderless-container:hover .portlet-borderless-bar .portlet-actions {
}

.ie .portlet-borderless-bar {
}

.ie .portlet-borderless-container:hover .portlet-borderless-bar {
}

.ie6 .portlet-borderless-bar {
}

.ie6 .portlet-borderless-bar .portlet-actions {
}

.portlet-borderless-bar .portlet-action-separator {
}

.portlet-borderless-bar a {
}

.portlet-title-default {
}

.ie6 .portlet-title-default, .ie7 .portlet-title-default {
}

.portlet-draggable .portlet-topper {
}

.portlet-draggable .portlet-title-default {
}

.portlet-borderless-bar .portlet-back a {
}

.portlet-borderless-bar .portlet-close a {
}

.portlet-borderless-bar .portlet-options li.lfr-trigger strong a {
}

.portlet-borderless-bar .portlet-title-default, .portlet-borderless-bar .portlet-actions {
}

/* ---------- Panel Page ---------- */

.lfr-panel-page {
}

.lfr-panel-page .portlet-title {
}

.lfr-panel-page .lfr-add-content h2 span {
}

/* ---------- Standard styles defined in the JSR 168 ---------- */

/* ---------- Fonts ---------- */

/* ---------- Font attributes for the 'normal' fragment font ---------- */

.portlet-font {
}

/* ---------- Font attributes similar to the .portlet-font but the color is lighter ---------- */

.portlet-font-dim {
}

/* ---------- Messages ---------- */

/* ---------- Status of the current operation ---------- */

.portlet-msg-status {
}

/* ---------- Help messages, general additional information, etc. ---------- */

.portlet-msg-info {
}

.portlet-msg-info.pending {
}

/* ---------- Error messages ---------- */

.portlet-msg-error {
}

/* ---------- Warning messages ---------- */

.portlet-msg-alert {
}

/* ---------- Success messages ---------- */

.portlet-msg-success {
}

/* ---------- Message labels ---------- */

.portlet-msg-info-label, .portlet-msg-error-label, .portlet-msg-alert-label, .portlet-msg-success-label {
}

.portlet-msg-info-label {
}

.portlet-msg-error-label {
}

.portlet-msg-alert-label {
}

.portlet-msg-success-label {
}

/* ---------- Sections ---------- */

/* ---------- Table or section header ---------- */

.portlet-section-header {
}

.portlet-section-header th {
}

/* ---------- Normal text in a table cell ---------- */

.portlet-section-body {
}

.portlet-section-body td {
}

/* ---------- Text in every other row in the cell ---------- */

.portlet-section-alternate {
}

.portlet-section-alternate td {
}

.portlet-section-alternate-hover td, .portlet-section-body-hover td {
}

.portlet-section-body td td, .portlet-section-body-hover td td {
}

.portlet-section-alternate td td, .portlet-section-alternate-hover td td {
}

/* ---------- Text in a selected cell range ---------- */

.portlet-section-selected, .portlet-section-selected a {
}

.portlet-section-selected a:hover, .portlet-section-selected a:focus {
}

/* ---------- Text of a subheading ---------- */

.portlet-section-subheader {
}

/* ---------- Table or section footnote ---------- */

.portlet-section-footer {
}

/* ---------- Text that belongs to the table but does not fall in one of the other categories (e.g. explanatory or help text that is associated with the section) ---------- */

.portlet-section-text {
}

/* ---------- Forms ---------- */

/* ---------- Text used for the descriptive label of the whole form (not the labels for fields) ---------- */

.portlet-form-label {
}

/* ---------- Text of the user-input in an input field ---------- */

.portlet-form-input-field {
}

/* ---------- Text on a button ---------- */

.portlet-form-button {
}

/* ---------- Text that appears beside a context dependent action icon ---------- */

.portlet-icon-label {
}

/* ---------- Text that appears beside a 'standard' icon (e.g. Ok, or Cancel) ---------- */

.portlet-dlg-icon-label {
}

/* ---------- Text for a separator of fields (e.g. checkboxes, etc.) ---------- */

.portlet-form-field-label {
}

/* ---------- Text for a field (not input field, e.g. checkboxes, etc.) ---------- */

.portlet-form-field {
}

/* ---------- Menus ---------- */

/* ---------- General menu settings such as background color, margins, etc. ---------- */

.portlet-menu {
}

/* ---------- Normal, unselected menu item ---------- */

.portlet-menu-item {
}

/* ---------- Selected menu item ---------- */

.portlet-menu-item-selected {
}

/* ---------- Normal, unselected menu item when the mouse hovers over it ---------- */

.portlet-menu-item-hover {
}

/* ---------- Selected menu item when the mouse hovers over it ---------- */

.portlet-menu-item-hover-selected {
}

/* ---------- Normal, unselected menu item that has sub-menus ---------- */

.portlet-menu-cascade-item {
}

/* ---------- Selected sub-menu item that has sub-menus ---------- */

.portlet-menu-cascade-item-selected {
}

/* ---------- Descriptive text for the menu (e.g. in a help context below the menu) ---------- */

.portlet-menu-description {
}

/* ---------- Menu caption ---------- */

.portlet-menu-caption {
}

/* ---------- Miscellaneous portlet styles ---------- */

.restricted, .restricted td {
}

.alt.restricted td {
}

.hover.restricted td {
}

.restricted * {
}

.restricted td.col-1, .alt.restricted td.col-1 {
}

/* ---------- Permissions ---------- */

.results-row.lfr-role .col-1, .results-row.hover.lfr-role .col-1 {
}

.results-row.lfr-role-guest .col-1, .results-row.hover.lfr-role-guest .col-1 {
}

.results-row.lfr-role-regular .col-1, .results-row.hover.lfr-role-regular .col-1 {
}

.results-row.lfr-role-site .col-1, .results-row.hover.lfr-role-site .col-1 {
}

.results-row.lfr-role-organization .col-1, .results-row.hover.lfr-role-organization .col-1 {
}

.results-row.lfr-role-team .col-1, .results-row.hover.lfr-role-team .col-1 {
}

/* ---------- Miscellaneous component styles ---------- */

/* ---------- Add content dialog ---------- */

.lfr-portlet-item, .lfr-portlet-item p a {
}

/* ---------- Actions button ---------- */

.lfr-actions {
}

.lfr-actions.lfr-extended, .lfr-actions.lfr-extended ul {
}

.lfr-actions ul {
}

.lfr-actions .lfr-trigger, .lfr-actions .lfr-trigger, .lfr-actions .lfr-trigger strong {
}

.lfr-actions .lfr-trigger li {
}

.lfr-actions .lfr-trigger li a {
}

.lfr-actions .lfr-trigger li a:hover {
}

.lfr-actions .lfr-trigger li a img {
}

.lfr-actions .lfr-trigger li.last {
}

.lfr-actions.portlet-options {
}

.lfr-actions.portlet-options .lfr-trigger {
}

.lfr-actions.portlet-options .lfr-trigger strong {
}

.lfr-actions.portlet-options .lfr-trigger strong a {
}

.visible.portlet-options .lfr-trigger strong a {
}

/*------ Breadcrumbs taglib ------*/

.breadcrumbs:before,
.breadcrumbs:after {
}

.breadcrumbs:after {
}

.ie6 .breadcrumbs {
}

.breadcrumbs-vertical {
}

.breadcrumbs-horizontal li {
}

.ie6 .breadcrumbs-vertical, .ie7 .breadcrumbs-vertical, .ie6 .breadcrumbs-horizontal li, .ie7 .breadcrumbs-horizontal li {
}

/* ---------- Calendar taglib ---------- */

.taglib-calendar tr.portlet-section-header th, .taglib-calendar tr td {
}

.taglib-calendar tr td a {
}

.taglib-calendar table td {
}

.taglib-calendar tr td a:hover {
}

.taglib-calendar .calendar-current-day, .taglib-calendar .calendar-current-day a {
}

.taglib-calendar .calendar-current-day a {
}

.taglib-calendar tr td.calendar-inactive {
}

.taglib-calendar tr th {
}

.ie .taglib-calendar tr td.first a {
}