.portlet-calendar {
	.calendar-container {
		background: #fff url(@theme_image_path@/calendar/calendar_day_drop_shadow.png) repeat-x 0 99%;
		border: 1px solid #D7D7D7;
		width: 400px;
	}

	.calendar {
		width: 100%;

		td {
			border: 1px solid #ccc;
			padding: 5px;

			td {
				border-width: 0;
				padding: 0;
			}
		}
	}

	.calendar-day {
		float:left;
		text-align: center;
		width: 209px;

		.day-text {
			background: #727C81;
			color: #fff;
			font-size: 1.6em;
			font-weight: bold;
			margin: 0;
			padding: 0.5em 0;
		}

		.day-number {
			border: 1px solid #fff;
			border-bottom-width: 0;
			font-size: 110px;
			font-weight: normal;
			line-height: 1.2;
			margin: 0;
			padding-bottom: 5px;
			vertical-align: middle;

		}
	}

	.taglib-calendar {
		border-color: #999;
		margin-bottom: 1.5em;
		width: 190px;
	}

	.calendar-container .taglib-calendar {
		background: #fff;
		border-left: 1px solid #D7D7D7;
		clear: none;
		float: right;
		margin-bottom: 0;
		margin-left: -1px;
		padding-left: 0;

		table {
			border-width: 0;
		}
	}

	.calendar-inactive {
		color: #999;
	}

	.calendar-current-day a {
		color: #fff;
		font-weight: bold;
		text-decoration: none;
	}

	.taglib-calendar {
		table {
			.first {
				border-left-width: 0;
			}

			.last {
				border-right-width: 0;
			}
		}

		tr td.calendar-current-day a {
			&:hover, &:focus {
				background-color: #DFF4FF;
				border-color: #AEB8BC;
				color: #06c;
			}

			span {
				border-width: 0;
			}
		}
	}

	.has-events {
		a span {
			background: url(@theme_image_path@/calendar/event_indicator.png) no-repeat 50% 95%;
			padding-bottom: 5px;
		}

		&.calendar-current-day a span {
			background-image: url(@theme_image_path@/calendar/event_indicator_current.png);
		}
	}

	.day-grid {
		border-top: 2px solid #CCC;
		margin-left: 50px;

		.business-hour {
			background: #FEFEFE;
		}

		.night-hour {
			background: #EFEFEF;
		}

		.hour {
			border-bottom: 1px solid #CCC;
			height: 24px;

			&.all-day {
				border-width: 0;
				height: auto;
				min-height: 24px;
			}
		}

		.hour-content {
			color: #777;
			display: block;
			font-size: 0.8em;
			font-weight: bold;
			left: -50px;
			position: absolute;
			text-align: right;
			width: 45px;
		}

		.half-hour {
			border-bottom: 2px solid #CCC;
			height: 23px;
		}

		.event-box {
			background: #F0F5F7;
			border: 2px solid #828F95;
			padding: 5px;
		}

		.event-description {
			border-top: 1px solid #AEB8BC;
			padding-top: 0.5em;
		}
	}

	.detail-column-last {
		background-color: #D7F1FF;
		overflow: visible;

		.detail-column-content {
			border: 1px solid #88C5D9;
			padding: 0.7em;
		}
	}

	.event-duration-hour {
		float: left;
	}

	.folder-icon {
		margin-bottom: 2em;
		overflow: hidden;
		text-align: center;
	}

	h3.event-title {
		border-bottom: 1px solid #000;
		font-size: 14px;
		font-weight: bold;
		margin-top: 0;
	}

	.property-list {
		margin-left: 0;
		margin-top: 0;
		overflow: hidden;
		padding: 0;

		dd {
			float: left;
			line-height: 1.5;
			margin: 0;
			padding-left: 5px;

			img {
				vertical-align: middle;
			}
		}

		dt {
			clear: left;
			font-weight: bold;
			min-width: 5em;
		}
	}

	.reminders {
		clear: both;
	}

	.calendar-event-details {
		.aui-field-wrapper-content {
			margin: 0;
		}

		.lfr-panel-content {
			padding: 10px 15px;
		}
	}

	#calendarCommentsPanelContainer {
		border-width: 0;
	}
}

.ie {
	.portlet-calendar {
		.calendar-container {
			background-position: 0 98%;
		}
	}
}

.ie6 {
	.portlet-calendar {
		.calendar-container {
			background: none;
		}

		.taglib-calendar {
			background: none;
			border-left: 1px solid;
			margin-left: 0;
			padding-left: 0;
			width: 189px;
		}
	}
}