.openid-login input[type="text"] {
  background: url(@theme_image_path@/common/openid.gif) no-repeat;
  background-color: #fff;
  background-position: 0 50%;
  color: #000;
  padding-left: 18px; }

.ie6 .openid-login input.text {
  background: url(@theme_image_path@/common/openid.gif) no-repeat;
  background-color: #fff;
  background-position: 0 50%;
  color: #000;
  padding-left: 18px; }

