.lfr-panel.lfr-extended, .lfr-panel-container, .lfr-floating-container {
  border: 1px solid;
  border-color: #DEDEDE #BFBFBF #BFBFBF #DEDEDE; }

.lfr-panel-container, .lfr-floating-container {
  background: #fff;
  clear: both; }

.lfr-floating-container {
  position: relative; }

.lfr-panel-container .lfr-panel {
  border: none; }

.lfr-panel .lfr-panel-titlebar {
  margin-bottom: 0.5em;
  overflow: hidden; }

.lfr-panel.lfr-collapsible .lfr-panel-titlebar {
  background: url(@theme_image_path@/arrows/05_down.png) no-repeat 2px 50%;
  cursor: pointer;
  padding-left: 15px; }

.lfr-panel-titlebar .lfr-panel-title {
  float: left;
  font-size: 1.2em;
  font-weight: bold;
  margin: 0; }

.lfr-panel-titlebar .lfr-panel-button {
  background: url(@theme_image_path@/application/panel_header_toggler_close.png) no-repeat 0 0;
  display: none;
  float: right;
  height: 22px;
  width: 19px; }

.lfr-extended.lfr-collapsible .lfr-panel-button {
  display: block; }

.lfr-panel.lfr-collapsed .lfr-panel-titlebar .lfr-panel-button {
  background-image: url(@theme_image_path@/application/panel_header_toggler_open.png); }

.lfr-panel-titlebar .lfr-panel-button:hover {
  background-position: 0 100%; }

.lfr-panel.lfr-collapsed .lfr-panel-titlebar {
  background-image: url(@theme_image_path@/arrows/05_right.png);
  margin-bottom: 0; }

.lfr-panel.lfr-extended .lfr-panel-titlebar {
  background: #d6d6d6 url(@theme_image_path@/application/panel_header.png) repeat-x 0 0;
  border-bottom: 1px solid #cdcdcd;
  line-height: 1.6;
  padding: 2px; }

.ie6 .lfr-extended.lfr-collapsible .lfr-panel-titlebar {
  zoom: 1; }

.lfr-extended.lfr-collapsed .lfr-panel-titlebar {
  border-bottom: none; }

.lfr-panel-container .lfr-extended.lfr-collapsible .lfr-panel-titlebar {
  border-top: 1px solid #cecece; }

.lfr-panel.lfr-collapsed .lfr-panel-content {
  display: none; }

.js .lfr-floating-container {
  position: absolute; }

.js .lfr-floating-trigger {
  background-image: url(@theme_image_path@/arrows/05_down.png);
  background-position: 100% 50%;
  background-repeat: no-repeat;
  padding: 3px;
  padding-right: 15px;
  text-decoration: none; }

.js .lfr-trigger-selected {
  background-color: #069;
  color: #fff; }

.lfr-floating-container .col {
  float: left;
  margin-right: 10px;
  width: auto; }

.lfr-floating-container .language-value, .lfr-floating-container select {
  display: inline-block;
  vertical-align: top; }

.lfr-floating-container .lfr-form-row {
  border: none; }

.lfr-panel .lfr-panel-content .undo-queue {
  border-left: none;
  border-right: none;
  border-top: none;
  margin: -0.5em 0 10px; }

