.lfr-tags-selector-content {
  width: 100%; }

.lfr-tag-selector-input {
  width: 300px; }

.lfr-tag-selector-popup {
  width: 250px; }

.lfr-tags-selector-list {
  border: solid #ccc;
  border-width: 0 1px 1px;
  height: 265px;
  margin-bottom: 0.5em;
  overflow: auto; }

.lfr-tag-selector-popup fieldset {
  border-width: 0;
  margin: 0;
  padding: 0; }

.lfr-tag-selector-popup label {
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  display: block;
  padding: 2px; }

.lfr-tag-selector-popup ul {
  margin: 0; }

.lfr-tag-selector-popup li li {
  list-style: none;
  margin-left: 1em; }

.lfr-tag-selector-popup label input {
  margin-right: 5px;
  vertical-align: middle; }

.lfr-tag-selector-popup .lfr-tag-message {
  display: none; }

.lfr-tag-selector-popup .aui-textfield-content {
  background-color: #D3DADD;
  border-bottom: 1px solid #AEB8BC;
  padding: 5px; }

.lfr-tag-selector-popup .aui-field-input-text {
  width: 99%; }

.lfr-tag-selector-popup .no-matches {
  color: #999;
  padding: 3px; }

.lfr-tag-selector-popup .no-matches .lfr-tag-message {
  display: block; }

