.lfr-translation-manager {
  background: #EEE;
  border: 1px solid #979798;
  border-color: #979798 #FAFAFB #FAFAFB #BDBDBE;
  color: #34404F;
  display: block;
  margin: 0 auto;
  min-height: 1.8em;
  padding: 0.5em; }
  .lfr-translation-manager .lfr-translation-manager-content .lfr-translation-manager-icon-menu {
    display: inline;
    float: none;
    margin-left: 2em;
    padding: 0.4em 0; }
    .lfr-translation-manager .lfr-translation-manager-content .lfr-translation-manager-icon-menu li, .lfr-translation-manager .lfr-translation-manager-content .lfr-translation-manager-icon-menu li strong {
      display: inline; }
  .lfr-translation-manager .lfr-translation-manager-available-translations {
    margin-top: 1em; }
    .lfr-translation-manager .lfr-translation-manager-available-translations .lfr-translation-manager-available-translations-links {
      line-height: 1; }
  .lfr-translation-manager .lfr-translation-manager-translation {
    background-color: #B3DAEF;
    border: 1px solid #5FA8FF;
    color: #444;
    cursor: pointer;
    display: inline-block;
    margin: 0.2em;
    padding: 0.4em 0.3em 0.4em 0.5em;
    text-decoration: none;
    text-shadow: 1px 1px #EEE; }
    .lfr-translation-manager .lfr-translation-manager-translation:hover {
      background-color: #D1E5EF; }
    .lfr-translation-manager .lfr-translation-manager-translation.lfr-translation-manager-translation-editing {
      background-color: #598BEC;
      border-color: #224FA8;
      color: #FFFFFF;
      font-weight: bold;
      text-shadow: -1px -1px #555555; }
      .lfr-translation-manager .lfr-translation-manager-translation.lfr-translation-manager-translation-editing .lfr-translation-manager-delete-translation {
        background-color: #FFF; }
    .lfr-translation-manager .lfr-translation-manager-translation * {
      vertical-align: middle; }
    .lfr-translation-manager .lfr-translation-manager-translation img {
      margin-right: 0.3em; }
  .lfr-translation-manager .lfr-translation-manager-delete-translation {
    display: inline-block; }
  .lfr-translation-manager label {
    font-weight: bold; }

.lfr-translation-manager-selector, .lfr-translation-manager-add-menu {
  display: inline-block;
  margin: 0.5em 0;
  white-space: nowrap; }

