img.label-icon {
	border: 0px;
	float: left;
}

img.icon {
	border: 0px;
	float: absmiddle;
}

img.avatar {
	border: 0px;
}

label.hidden-label {
	clip: rect(0 0 0 0);
	position: absolute;
}

td.stretch {
	width: 99%;
}

.nobr {
	white-space: nowrap;
}