.breadcrumbs {
	margin-bottom: 10px;
	margin-left: 0px;
}

.lfr-button {
	background: url() no-repeat 0 50%;
	padding: 2px 0 2px 20px;
}

.js .controls-hidden .lfr-meta-actions, .js .controls-hidden .portlet-borderless-bar, .js .controls-hidden .portlet-topper-toolbar, .js .controls-hidden .lfr-configurator-visibility {
	display: none;
}

.js .page-maximized .portlet-topper-toolbar {
	display: block;
}

.configuration-frame, .control-panel-frame {
	border-width: 0;
	overflow: auto;
	width: 100%;
}

.float-container:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

.ie .float-container {
	height: 1%;
}

.lfr-meta-actions {
	padding-top: 1em;
}

.lfr-table {
	border-collapse: collapse;
	clear: both;
}

.lfr-table tr td, .lfr-table tr th {
	padding: 0 5px;
}

.lfr-table tr th {
	font-weight: bold;
}

.lfr-table tr td:first-child, .lfr-table tr td.first-child, .lfr-table tr th:first-child, .lfr-table tr th.first-child {
	padding-left: 0;
}

.lfr-table tr td:last-child, .lfr-table tr td.last-child, .lfr-table tr th:last-child, .lfr-table tr th.last-child {
	padding-right: 0;
}

.lfr-table-grid .lfr-label {
	font-weight: bold;
}

.lfr-table-grid .aui-field-hint {
	float: none;
}

.lfr-control-links a {
	margin-right: 1em;
}

.portlet-toolbar {
	margin-bottom: 1.5em;
}

.lfr-checkbox-preselected {
	opacity: 0.5;
}

.ie .lfr-checkbox-preselected {
	filter: alpha(opacity=50);
	zoom: 1;
}

.lfr-configurator-visibility {
	opacity: 0.5;
}

.ie .lfr-configurator-visibility, .ie .lfr-configurator-visibility .portlet-topper {
	filter: alpha(opacity=50);
	zoom: 1;
}

.lfr-input-time {
	float: left;
	clear: right;
}

.gecko .lfr-input-time, .ie .lfr-input-time {
	padding-left: 2px;
}

.lfr-change-logo {
	background: url(@theme_image_path@/common/checkerboard.png);
	display: block;
	margin-bottom: 10px;
}