td.lfr-center {
	text-align: center;
}

td.lfr-top {
	vertical-align: top;
}

td.lfr-middle {
	vertical-align: middle;
}

.definition-of-terms {
	margin-bottom: 2em;
}

.definition-of-terms dd {
	margin-left: 20em;
}

.definition-of-terms dl {
	margin-left: 0;
}

.definition-of-terms dt {
	font-weight: bold;
	float: left;
}

.lfr-grid {
	width: 100%;
}

.lfr-component, .lfr-component ul, .lfr-component li, .lfr-component dl, .lfr-component dt, .lfr-component dd {
	margin: 0;
	padding: 0;
	list-style: none;
}

.lfr-component li img, img.icon {
	vertical-align: middle;
}

.lfr-component.lfr-actions li img {
	padding: 0 5px;
}

#layout-grid.dragging .lfr-portlet-column.empty {
	padding: 20px;
}

.lfr-js-required {
	clip: rect(0 0 0 0);
	position: absolute;
}

.js .lfr-js-required {
	clip: rect(auto auto auto auto);
	position: static;
}

.popup-alert-notice, .popup-alert-warning {
	background: #ffc url() no-repeat 5px 50%;
	border-bottom: 1px solid;
	font-size: 1.1em;
	left: 0;
	padding: 10px;
	padding-left: 25px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10000;
}

.popup-alert-notice {
	background-color: #ffc;
	background-image: url(@theme_image_path@/messages/alert.png);
	border-bottom-color: #fc0;
}

.popup-alert-warning {
	background-color: #fcc;
	background-image: url(@theme_image_path@/messages/error.png);
	border-bottom-color: #f00;
	font-weight: bold;
}

.ie6 .popup-alert-notice, .ie6 .popup-alert-warning {
	bottom: auto;
	left: expression( ( LFR_IGNORE_ME2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) + 'px' );
	position: absolute;
	right: auto;
	top: expression( ( LFR_IGNORE_ME = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) + 'px' );
}

.popup-alert-notice .countdown-timer {
	font-size: 1.1em;
	font-weight: bold;
}

.popup-alert-notice input, .popup-alert-warning input {
	vertical-align: middle;
}

.lfr-token-list {
	clear: both;
	margin: 1em 0;
}

.lfr-token {
	background-color: #B3DAEF;
	border: 1px solid #5FA8FF;
	color: #444;
	cursor: pointer;
	display: inline-block;
	line-height: 1;
	padding: 0.3em 0.5em 0.3em;
	margin: 0 0.2em;
	text-decoration: none;
}

.lfr-token-primary {
	border-width: 0;
	font-weight: bold;
}

.lfr-token:hover {
	background-color: #D1E5EF;
}

.lfr-token-primary, .lfr-token-primary:hover {
	background-color: #B3DAEF;
	cursor: auto;
}

.lfr-token img {
	margin-right: 0.3em;
}

.lfr-token-close, .lfr-token-text {
	display: inline-block;
	vertical-align: middle;
}