.lfr-portlet-toolbar {
	background: #F6F8FB;
	margin-bottom: 5px;
	overflow: hidden;
	padding: 2px;
}

.ie6 .lfr-portlet-toolbar {
	width: 100%;
}

.lfr-portlet-toolbar .lfr-actions .lfr-trigger strong {
	padding: 0;
}

.lfr-portlet-toolbar .lfr-actions.show-arrow.direction-down.lfr-toolbar-button .lfr-trigger strong a {
	background-position: 92% 7px;
	padding-bottom: 3px;
	padding-top: 4px;
	padding-right: 25px;
}

.lfr-portlet-toolbar .lfr-toolbar-button a, .lfr-portlet-toolbar .lfr-toolbar-button a span {
	color: #9EA8AD;
}

.lfr-portlet-toolbar .lfr-toolbar-button a {
	background: url() no-repeat 5px 50%;
	border: 1px solid #F6F8FB;
	display: block;
	float: left;
	font-size: 12px;
	font-weight: bold;
	padding: 4px 14px 4px 29px;
	text-decoration: none;
}

.lfr-portlet-toolbar .lfr-toolbar-button a:hover, .lfr-portlet-toolbar .lfr-toolbar-button a:hover span {
	color: #346799;
}

.lfr-portlet-toolbar .lfr-toolbar-button a:hover {
	background-color: #DFF4FF;
	border: 1px solid #A7CEDF;
	padding: 4px 14px 4px 29px;
}

.ie6 .lfr-portlet-toolbar .lfr-toolbar-button a {
}

.lfr-portlet-toolbar .lfr-toolbar-button.current a, .lfr-portlet-toolbar .lfr-toolbar-button.current a span {
	color: #000;
}

.lfr-portlet-toolbar .lfr-toolbar-button.current a {
	background-color: #CFD5D7;
	border: 1px solid #CFD5D7;
}

.lfr-portlet-toolbar .lfr-toolbar-button.current a:hover {
	background-color: #D6DCDD;
	border-color: #B7C0C2;
}

.lfr-portlet-toolbar .lfr-toolbar-button.add-button a {
	background-image: url(@theme_image_path@/common/add.png);
}

.lfr-portlet-toolbar .lfr-toolbar-button.add-template a {
	background-image: url(@theme_image_path@/common/add_template.png);
}

.lfr-portlet-toolbar .lfr-toolbar-button.custom-attributes-button a {
	background-image: url(@theme_image_path@/common/attributes.png);
}

.lfr-portlet-toolbar .lfr-toolbar-button.view-button a {
	background-image: url(@theme_image_path@/common/view_users.png);
}

.lfr-portlet-toolbar .lfr-toolbar-button.export-button a {
	background-image: url(@theme_image_path@/common/export.png);
}

.lfr-portlet-toolbar .lfr-toolbar-button.view-structures a {
	background-image: url(@theme_image_path@/common/view_structures.png);
}

.lfr-portlet-toolbar .lfr-toolbar-button.view-templates a {
	background-image: url(@theme_image_path@/common/view_templates.png);
}

.lfr-portlet-toolbar .lfr-toolbar-button.teams-button a {
	background-image: url(@theme_image_path@/common/team_icon.png);
}

.lfr-portlet-toolbar .lfr-toolbar-button.membership-requests-button a {
	background-image: url(@theme_image_path@/common/manage_task.png);
}