.lfr-image-gallery-actions {
	font-size: 11px;
	text-align: right;
}

.portlet-image-gallery-display {
	.lfr-asset-attributes {
		clear: both;
	}

	.folder-search {
		float: right;
		margin: 0 0 0.5em 0.5em;
	}

	.image-score {
		display: block;
		margin: 0 0 5px 35px;
		padding-top: 3px;
	}

	.image-thumbnail {
		border: 2px solid #eee;
		float: left;
		height: 162px;
		margin: 20px 4px 0;
		padding: 5px 5px 0;
		text-align: center;
		text-decoration: none;
		width: 150px;

		&:hover {
			border-color: #ccc;
		}

        &.error:hover {
            background-color: #FDD;
        }
	}

	.taglib-webdav {
		margin-top: 3em;
	}

	.image-title {
		display: block;
	}
}