.aui-document-library-file-entry-cell-editor-hidden {
  display: none; }

.portlet-document-library .aui-diagram-builder-drop-container, .portlet-dynamic-data-mapping .aui-diagram-builder-drop-container {
  overflow: auto; }
.portlet-document-library .aui-field-labels-inline, .portlet-dynamic-data-mapping .aui-field-labels-inline {
  clear: both;
  display: block; }
  .portlet-document-library .aui-field-labels-inline .aui-field-label, .portlet-dynamic-data-mapping .aui-field-labels-inline .aui-field-label {
    margin-top: 0; }
.portlet-document-library .aui-field .aui-field-content, .portlet-dynamic-data-mapping .aui-field .aui-field-content {
  clear: both; }
.portlet-document-library .lfr-structure-entry-details-container, .portlet-dynamic-data-mapping .lfr-structure-entry-details-container {
  margin-top: 10px; }
  .portlet-document-library .lfr-structure-entry-details-container .lfr-panel-content, .portlet-dynamic-data-mapping .lfr-structure-entry-details-container .lfr-panel-content {
    padding: 10px; }
.portlet-document-library .lfr-translation-manager, .portlet-dynamic-data-mapping .lfr-translation-manager {
  margin-bottom: 15px; }
.portlet-document-library .lfr-ddm-types-form-column .aui-column-content-first, .portlet-dynamic-data-mapping .lfr-ddm-types-form-column .aui-column-content-first {
  margin-right: 10px; }
.portlet-document-library .lfr-ddm-search-form .aui-column, .portlet-dynamic-data-mapping .lfr-ddm-search-form .aui-column {
  margin-right: 10px; }
.portlet-document-library .lfr-template-editor .aui-field-element, .portlet-document-library .lfr-template-editor .aui-field-content, .portlet-document-library .lfr-template-editor .aui-field-input-text, .portlet-dynamic-data-mapping .lfr-template-editor .aui-field-element, .portlet-dynamic-data-mapping .lfr-template-editor .aui-field-content, .portlet-dynamic-data-mapping .lfr-template-editor .aui-field-input-text {
  display: block; }
.portlet-document-library .lfr-template-editor .aui-field-input-text, .portlet-dynamic-data-mapping .lfr-template-editor .aui-field-input-text {
  height: 400px; }

