.taglib-calendar {
  width: 190px; }

.taglib-calendar table {
  border: 1px solid #999;
  width: 100%; }

.taglib-calendar tr th, .taglib-calendar tr td {
  height: 25px;
  text-align: center;
  border-bottom: 1px solid #999; }

.taglib-calendar tr.portlet-section-header th, .taglib-calendar tr td {
  border: 1px solid #999;
  border-bottom: none;
  border-top: none;
  padding: 0;
  width: 26px; }

.taglib-calendar tr.portlet-section-header th.first, .taglib-calendar tr td.first {
  border-left: none; }

.taglib-calendar tr.portlet-section-header th.last, .taglib-calendar tr td.last {
  border-right: none; }

.taglib-calendar tr td a {
  display: block;
  height: 15px;
  padding: 5px 0; }

.taglib-calendar a:hover, .taglib-calendar a:focus {
  background-color: #ccc; }

.taglib-calendar .calendar-inactive {
  color: #999; }

.taglib-calendar .has-events a span {
  background: url(@theme_image_path@/calendar/event_indicator.png) no-repeat 50% 95%;
  padding-bottom: 5px; }

.taglib-calendar .has-events.calendar-current-day a span {
  background-image: url(@theme_image_path@/calendar/event_indicator_current.png); }

