.taglib-language-option {
  background-position: 0 50%;
  background-repeat: no-repeat;
  padding-left: 26px;
  margin: 1px; }

.taglib-language-list-text {
  border-right: 1px solid #CCC;
  padding: 0 0.2em; }

.taglib-language-list-text.last {
  border-width: 0; }

