.portlet-asset-tag-admin .tags-admin-actions {
  clear: none;
  float: left;
  margin: 0; }
.portlet-asset-tag-admin .tags-admin-container .results-header {
  background: #F0F5F7;
  font-weight: bold;
  padding: 5px 10px;
  position: relative; }
.portlet-asset-tag-admin .tags-admin-toolbar {
  background: #F6F8FB;
  border-bottom: 1px solid #dedede;
  overflow: hidden;
  padding: 5px 0; }
.portlet-asset-tag-admin .tags-admin-search .aui-field-content {
  display: inline-block; }
.portlet-asset-tag-admin .tags-admin-search .aui-field-input {
  background-image: url(@theme_image_path@/common/search.png);
  background-repeat: no-repeat;
  background-position: 5px 50%;
  padding-left: 25px;
  width: 250px; }
.portlet-asset-tag-admin .tags-admin-content-wrapper {
  position: relative; }
.portlet-asset-tag-admin .tags-admin-content-wrapper, .portlet-asset-tag-admin .header-title, .portlet-asset-tag-admin .aui-tree-node-content .aui-tree-label {
  word-wrap: break-word; }
.portlet-asset-tag-admin .tags-admin-edit-tag .tag-view-container {
  padding: 0 0.5em 0 0.5em; }
.portlet-asset-tag-admin .tags-admin-edit-tag .tag-details {
  font-weight: bold;
  vertical-align: middle; }
.portlet-asset-tag-admin .tag-item a {
  display: block;
  padding: 8px 20px 8px 25px;
  text-decoration: none; }
.portlet-asset-tag-admin .tag-item-actions-trigger {
  display: block;
  margin-top: -8px;
  position: absolute;
  top: 50%; }
.portlet-asset-tag-admin .tag-item-actions-trigger {
  background-image: url(@theme_image_path@/common/edit.png);
  background-repeat: no-repeat;
  clip: rect(0pt, 0pt, 0pt, 0pt);
  height: 16px;
  margin-top: -8px;
  padding: 0;
  right: 0;
  width: 16px; }
.portlet-asset-tag-admin .tag-item-check {
  margin-left: 10px;
  position: static;
  margin-top: 10px;
  float: left; }
.portlet-asset-tag-admin .tags-admin-content li.tag-item-container, .portlet-asset-tag-admin .tags-admin-content li.tag-item {
  font-weight: bold;
  list-style: none; }
.portlet-asset-tag-admin .tag-item-container:hover .tag-item-actions-trigger, .portlet-asset-tag-admin .tag-item-container:focus .tag-item-actions-trigger {
  clip: rect(auto auto auto auto); }
.portlet-asset-tag-admin .tag-item-actions-trigger:focus {
  clip: rect(auto auto auto auto); }
.portlet-asset-tag-admin .tags-admin-list .selected a:hover {
  color: #FFB683; }
.portlet-asset-tag-admin .tags-admin-list .selected a, .portlet-asset-tag-admin .tags-admin-list .selected .tags-admin-content-wrapper, .portlet-asset-tag-admin .tags-admin-list .selected .tags-admin-content-wrapper:hover {
  background-color: #6F7D83;
  color: #FFF; }
.portlet-asset-tag-admin .tags-admin-list .active-area {
  border: 1px solid #008000; }
  .portlet-asset-tag-admin .tags-admin-list .active-area a {
    background-color: #90EE90;
    color: #90EE90; }
.portlet-asset-tag-admin .tags-admin-list .tags-admin-content-wrapper {
  background-color: #F5F5F5; }
  .portlet-asset-tag-admin .tags-admin-list .tags-admin-content-wrapper:hover {
    background: #D3DADD; }
.portlet-asset-tag-admin .select-tags {
  border-color: #5F5F5F;
  float: left;
  line-height: 0;
  margin-right: 2px;
  padding: 0; }
  .portlet-asset-tag-admin .select-tags .aui-field-element {
    padding: 5px 4px 4px;
    border: 1px solid #FFF;
    border-color: #F0F1F2 #B2B2B2 #949494 #F0F1F1; }
    .portlet-asset-tag-admin .select-tags .aui-field-element .aui-field-input-choice {
      margin: 0; }
.portlet-asset-tag-admin .tags-admin-list-container:after {
  clear: both;
  content: "";
  display: block;
  height: 0; }
.portlet-asset-tag-admin .tags-admin-search-bar {
  float: left; }
.portlet-asset-tag-admin .view-tag {
  margin: 1em; }
  .portlet-asset-tag-admin .view-tag label {
    display: block;
    font-weight: bold; }
  .portlet-asset-tag-admin .view-tag .tag-field {
    clear: left;
    margin: 1em auto; }

.tag-item-merge {
  border: 1px solid #4E4848;
  display: block;
  font-weight: bold;
  list-style: none;
  padding: 8px 20px 8px 10px; }
  .tag-item-merge a {
    text-decoration: none; }

.portlet-asset-tag-admin-dialog .aui-fieldset {
  margin-bottom: 0; }
.portlet-asset-tag-admin-dialog .lfr-panel-container {
  background-color: transparent;
  border-width: 0; }
.portlet-asset-tag-admin-dialog .asset-tag-layer .aui-overlay {
  overflow: visible;
  width: 230px; }
.portlet-asset-tag-admin-dialog .yui3-widget-bd .asset-tag-layer {
  padding: 0 10px; }
  .portlet-asset-tag-admin-dialog .yui3-widget-bd .asset-tag-layer .aui-field-content {
    margin-bottom: 10px; }
  .portlet-asset-tag-admin-dialog .yui3-widget-bd .asset-tag-layer label {
    display: block;
    font-weight: bold; }
  .portlet-asset-tag-admin-dialog .yui3-widget-bd .asset-tag-layer .aui-field input, .portlet-asset-tag-admin-dialog .yui3-widget-bd .asset-tag-layer .aui-field select {
    width: 200px; }
  .portlet-asset-tag-admin-dialog .yui3-widget-bd .asset-tag-layer .button-holder {
    margin-top: 10px; }
.portlet-asset-tag-admin-dialog .tags-admin-merge-tag .arrows-container {
  top: 50%;
  margin-top: -20px; }
.portlet-asset-tag-admin-dialog .tags-admin-merge-tag label {
  color: #5C85AD;
  display: inline-block;
  margin-bottom: 0.5em; }
.portlet-asset-tag-admin-dialog .tags-admin-merge-tag .selected-tags-container, .portlet-asset-tag-admin-dialog .tags-admin-merge-tag .target-tags-container {
  padding: 0.5em; }
.portlet-asset-tag-admin-dialog .tags-admin-merge-tag .selected-tags-list, .portlet-asset-tag-admin-dialog .tags-admin-merge-tag .target-tags-list {
  width: 100%; }
.portlet-asset-tag-admin-dialog .tags-admin-merge-tag .tag-move {
  display: block;
  height: 18px;
  position: relative;
  top: 30px;
  width: 18px; }
.portlet-asset-tag-admin-dialog .tags-admin-merge-tag .tag-move-down {
  background-image: url(@theme_image_path@/arrows/02_down.png);
  margin-top: 0.2em; }
.portlet-asset-tag-admin-dialog .tags-admin-merge-tag .tag-move-up {
  background-image: url(@theme_image_path@/arrows/02_up.png); }
.portlet-asset-tag-admin-dialog .tags-admin-merge-tag .tag-options {
  text-align: left; }
.portlet-asset-tag-admin-dialog .tags-admin-merge-tag .tags-merge-label {
  margin-left: 0.5em;
  vertical-align: middle; }

.ie .portlet-asset-tag-admin .tag-item a {
  zoom: 1; }

.ie6 .portlet-asset-tag-admin .tags-admin-content-wrapper, .ie7 .portlet-asset-tag-admin .tags-admin-content-wrapper {
  width: 100%; }
.ie6 .portlet-asset-tag-admin .tag-item-actions-trigger, .ie6 .portlet-asset-tag-admin .tag-item-check, .ie7 .portlet-asset-tag-admin .tag-item-actions-trigger, .ie7 .portlet-asset-tag-admin .tag-item-check {
  cursor: pointer; }
.ie6 .portlet-asset-tag-admin-dialog .yui3-widget-bd .asset-tag-layer .aui-field, .ie7 .portlet-asset-tag-admin-dialog .yui3-widget-bd .asset-tag-layer .aui-field {
  width: 200px; }

.ie6 .portlet-asset-tag-admin .tag-item-merge, .ie7 .portlet-asset-tag-admin .tag-item-merge, .ie8 .portlet-asset-tag-admin .tag-item-merge {
  font-weight: normal;
  font-size: 120%; }

