.taglib-diff-html div.diff-removed-image {
	background: #fdc6c6 url(@theme_image_path@/diff/minus.png);
}

.taglib-diff-html div.diff-added-image {
	background: #cfc url(@theme_image_path@/diff/plus.png) no-repeat;
}

.taglib-diff-html div.diff-removed-image, div.diff-added-image {
	height: 300px;
	margin: 2px;
	opacity: 0.55;
	position: absolute;
	width: 200px;
}

.gecko .taglib-diff-html div.diff-removed-image, .gecko div.diff-added-image {
	-moz-opacity: 0.55;
}

.ie .taglib-diff-html div.diff-removed-image, .ie div.diff-added-image {
	filter: alpha(opacity=55);
}

.taglib-diff-html span.diff-html-added img {
	border: 2px solid #cfc;
}

.taglib-diff-html span.diff-html-added {
	background-color: #cfc;
	font-size: 1em;
}

.taglib-diff-html span.diff-html-changed img {
	border: 2px dotted #009;
}

.taglib-diff-html span.diff-html-changed {
	background: url(@theme_image_path@/diff/underline.png) bottom repeat-x;
}

.taglib-diff-html span.diff-html-removed img {
	border: 2px solid #fdc6c6;
}

.taglib-diff-html span.diff-html-removed {
	background-color: #fdc6c6;
	font-size: 1em;
	text-decoration: line-through;
}