.taglib-header .header-title {
	margin: 0.1em;
}

.taglib-header .header-back-to a {
	float: right;
	font-weight: bold;
	padding: 1em 0.2em;
	text-decoration: none;
}

.taglib-header {
	border-bottom: 1px solid #C8C9CA;
	color: #555;
	margin-bottom: 1em;
}