.taglib-logo-selector {
	text-align: center;
}

.taglib-logo-selector .portrait-icons {
	margin: 1em 0;
}

.taglib-logo-selector .lfr-change-logo {
	display: inline;
}

.taglib-logo-selector .lfr-change-logo.show-background {
	display: block;
}