.page-extra-settings .lfr-panel-titlebar .lfr-panel-title {
  font-size: 1em;
  padding: 0.5em 0; }

.page-extra-settings .lfr-extended .lfr-panel-titlebar {
  line-height: 1; }

.page-extra-settings .lfr-extended .lfr-panel-titlebar {
  line-height: 1; }

.page-extra-settings .lfr-extended .lfr-panel-content {
  padding: 5px; }

.popup-alert-notice .notice-date {
  margin: 0 10px; }

.popup-alert-notice .current-user-language {
  border: 1px solid #ccc;
  border-bottom: none;
  border-top: none;
  display: inline;
  margin: 0 10px;
  padding: 0 15px; }

.lfr-asset-category-container {
  height: 260px;
  margin-bottom: 0.5em;
  overflow: auto; }

.lfr-asset-category-container fieldset {
  margin: 5px; }

.lfr-asset-category-container legend {
  font-weight: bold;
  margin-left: 5px; }

.lfr-asset-category-container label {
  display: block; }

.lfr-asset-category-container label input {
  vertical-align: middle; }

.lfr-asset-category-container .lfr-asset-category-message {
  display: none; }

.lfr-asset-category-search-container {
  background-color: #D3DADD;
  border-bottom: 1px solid #AEB8BC;
  margin: 3px 0;
  padding: 5px; }

.lfr-asset-category-search-input {
  width: 250px; }

.lfr-asset-category-container .no-matches {
  border-bottom: none;
  border-left: none;
  border-right: none;
  color: #999;
  margin-bottom: 0;
  margin-left: 5px;
  margin-top: 0;
  padding: 0; }

.lfr-asset-vocabulary-container.no-matches legend {
  padding-left: 0; }

.lfr-asset-vocabulary-container .lfr-asset-category-message, .lfr-asset-vocabulary-container.no-matches .lfr-asset-category-list {
  display: none; }

.lfr-asset-vocabulary-container.no-matches .lfr-asset-category-message {
  display: block; }

.lfr-asset-category-list-container {
  cursor: pointer; }

.lfr-asset-category-list ul {
  list-style: none;
  margin-top: 4px;
  padding: 0; }

.lfr-asset-category-list li {
  list-style-type: none;
  margin: 0;
  padding: 0 0 3px 16px; }

.lfr-asset-category-list a.selected {
  background-color: #EEE; }

.lfr-asset-category-list span {
  padding-left: 3px; }

.lfr-categories-selector-list .aui-tree-node-paginator {
  margin-left: 29px; }

.lfr-categories-selector-category-name, .lfr-categories-selector-search-results-path {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.lfr-categories-selector-category-name {
  float: left;
  width: 50%; }

.lfr-categories-selector-search-results-path {
  float: right;
  width: 49%; }

.lfr-categories-selector-search-results label:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden; }

.lfr-categories-selector-search-results-path {
  color: #575757;
  font-size: 0.9em;
  text-align: right; }

.lfr-asset-column-content {
  margin-right: 1em;
  padding: 0; }

.lfr-asset-column-actions-content {
  background-color: #D7F1FF;
  overflow: visible; }

.lfr-asset-column-actions .lfr-asset-summary {
  margin-bottom: 2em;
  overflow: hidden;
  text-align: center; }

.lfr-asset-column-actions .lfr-asset-avatar img {
  margin: 0 auto;
  padding-right: 2em; }

.lfr-asset-column-actions .lfr-asset-column-actions-content {
  border: 1px solid #88C5D9;
  padding: 0.7em; }

.lfr-asset-column-details .lfr-asset-categories .lfr-asset-category {
  color: #555; }

.lfr-asset-column-details .lfr-asset-categories {
  color: #7D7D7D; }

.lfr-asset-column-details .lfr-asset-description {
  color: #444;
  font-style: italic;
  margin: 0.5em auto 2em; }

.lfr-asset-column-details .lfr-asset-field, .lfr-asset-column-actions .lfr-asset-field {
  clear: left;
  margin: 1em auto; }

.lfr-asset-column-details .lfr-asset-icon {
  border-right: 1px solid #999;
  color: #999;
  float: left;
  margin-right: 10px;
  padding-left: 25px;
  padding-right: 10px; }

.lfr-asset-column-details .lfr-asset-icon.last {
  border-width: 0; }

.lfr-asset-column-details .lfr-asset-author {
  background: url(@theme_image_path@/portlet/edit_guest.png) no-repeat 0 50%; }

.lfr-asset-column-details .lfr-asset-date {
  background: url(@theme_image_path@/common/date.png) no-repeat 0 50%;
  overflow: hidden; }

.lfr-asset-column-details .lfr-asset-subfolders {
  background: url(@theme_image_path@/common/folder.png) no-repeat 0 50%; }

.lfr-asset-column-details .lfr-asset-teams {
  background: url(@theme_image_path@/common/team_icon.png) no-repeat 0 50%;
  border-right-width: 0; }

.lfr-asset-column-details .lfr-asset-items {
  background: url(@theme_image_path@/common/page.png) no-repeat 0 50%;
  overflow: hidden; }

.lfr-asset-column-details .lfr-asset-downloads {
  padding-left: 0px;
  overflow: hidden; }

.lfr-asset-column-details .lfr-asset-metadata {
  clear: both;
  margin-bottom: 1.5em;
  padding-bottom: 1.5em; }

.lfr-asset-column-details .lfr-asset-ratings {
  margin: 2em 0; }

.lfr-asset-column-details .lfr-asset-tags .tag {
  color: #555; }

.lfr-asset-column-details .lfr-asset-tags {
  color: #7D7D7D; }

.lfr-asset-column-details .taglib-custom-attributes-list label, .lfr-asset-column-details .lfr-asset-field label {
  display: block;
  font-weight: bold; }

.lfr-asset-column-details .taglib-custom-attributes-list {
  margin-bottom: 1em; }

.lfr-asset-panels {
  clear: both;
  padding-top: 1em; }

.lfr-asset-panels .lfr-panel, .lfr-asset-column-details .lfr-panel {
  clear: both;
  margin-bottom: 1.5em; }

.lfr-asset-panels .lfr-panel.lfr-extended, .lfr-asset-column-details .lfr-panel.lfr-extended {
  margin-bottom: 0;
  border: 1px solid #CCC; }

.lfr-asset-column-details .lfr-panel-container, .lfr-asset-panels .lfr-panel-container {
  border-width: 0; }

.lfr-tags-selector-content {
  width: 100%; }

.lfr-tag-selector-input {
  width: 300px; }

.lfr-tag-selector-popup {
  width: 250px; }

.lfr-tags-selector-list {
  border: solid #ccc;
  border-width: 0 1px 1px;
  height: 265px;
  margin-bottom: 0.5em;
  overflow: auto; }

.lfr-tag-selector-popup fieldset {
  border-width: 0;
  margin: 0;
  padding: 0; }

.lfr-tag-selector-popup label {
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  display: block;
  padding: 2px; }

.lfr-tag-selector-popup ul {
  margin: 0; }

.lfr-tag-selector-popup li li {
  list-style: none;
  margin-left: 1em; }

.lfr-tag-selector-popup label input {
  margin-right: 5px;
  vertical-align: middle; }

.lfr-tag-selector-popup .lfr-tag-message {
  display: none; }

.lfr-tag-selector-popup .aui-textfield-content {
  background-color: #D3DADD;
  border-bottom: 1px solid #AEB8BC;
  padding: 5px; }

.lfr-tag-selector-popup .aui-field-input-text {
  width: 99%; }

.lfr-tag-selector-popup .no-matches {
  color: #999;
  padding: 3px; }

.lfr-tag-selector-popup .no-matches .lfr-tag-message {
  display: block; }

.breadcrumbs {
  margin-bottom: 10px;
  margin-left: 0px; }

.lfr-button {
  background: url() no-repeat 0 50%;
  padding: 2px 0 2px 20px; }

.js .controls-hidden .lfr-meta-actions, .js .controls-hidden .portlet-borderless-bar, .js .controls-hidden .portlet-topper-toolbar, .js .controls-hidden .lfr-configurator-visibility {
  display: none; }

.js .page-maximized .portlet-topper-toolbar {
  display: block; }

.configuration-frame, .control-panel-frame {
  border-width: 0;
  overflow: auto;
  width: 100%; }

.float-container:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden; }

.ie .float-container {
  height: 1%; }

.lfr-meta-actions {
  padding-top: 1em; }

.lfr-table {
  border-collapse: collapse;
  clear: both; }

.lfr-table tr td, .lfr-table tr th {
  padding: 0 5px; }

.lfr-table tr th {
  font-weight: bold; }

.lfr-table tr td:first-child, .lfr-table tr td.first-child, .lfr-table tr th:first-child, .lfr-table tr th.first-child {
  padding-left: 0; }

.lfr-table tr td:last-child, .lfr-table tr td.last-child, .lfr-table tr th:last-child, .lfr-table tr th.last-child {
  padding-right: 0; }

.lfr-table-grid .lfr-label {
  font-weight: bold; }

.lfr-table-grid .aui-field-hint {
  float: none; }

.lfr-control-links a {
  margin-right: 1em; }

.portlet-toolbar {
  margin-bottom: 1.5em; }

.lfr-checkbox-preselected {
  opacity: 0.5; }

.ie .lfr-checkbox-preselected {
  filter: alpha(opacity=50);
  zoom: 1; }

.lfr-configurator-visibility {
  opacity: 0.5; }

.ie .lfr-configurator-visibility, .ie .lfr-configurator-visibility .portlet-topper {
  filter: alpha(opacity=50);
  zoom: 1; }

.lfr-input-time {
  float: left;
  clear: right; }

.gecko .lfr-input-time, .ie .lfr-input-time {
  padding-left: 2px; }

.lfr-change-logo {
  background: url(@theme_image_path@/common/checkerboard.png);
  display: block;
  margin-bottom: 10px; }

.aui-field-wrapper {
  clear: both;
  overflow: hidden; }

.aui-form-button.aui-input-disabled input, .aui-form-button.aui-input-disabled button {
  background: #f5f5f5 url(images/forms/button.png) repeat-x 0 0;
  color: #ccc; }

.aui-form-button.aui-input-disabled input:hover, .aui-form-button.aui-input-disabled button:hover {
  background: #f5f5f5 url(images/forms/button.png) repeat-x 0 0;
  border-color: #DEDEDE #BFBFBF #BFBFBF #DEDEDE;
  color: #ccc;
  cursor: auto; }

.aui-form-validator-error-container .aui-field-element {
  display: inline-block; }

.aui-form-validator-error-container {
  color: #900; }

.aui-form-validator-stack-error {
  font-size: 0.9em; }

.aui-form-validator-error-container .aui-field-element {
  background: url(@theme_image_path@/messages/error.png) no-repeat scroll 100% 50%;
  padding-right: 20px; }

[class~="aui-form-validator-message"] {
  background-color: #333;
  clip: rect(0 0 0 0);
  color: #fff;
  display: block;
  margin-top: 2px;
  padding: 5px;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 5; }

.aui-field-focused .aui-form-validator-message, .aui-form-validator-error-container:hover .aui-form-validator-message {
  clip: rect(auto auto auto auto); }

.aui-field-element {
  position: relative; }

.ie6 .aui-form-validator-message {
  color: #777; }

.lfr-dynamic-form .aui-field-radio .aui-field {
  display: block;
  margin-left: 10px; }

.lfr-dynamic-form .aui-field-text, .lfr-dynamic-form .aui-field-text .aui-field-element {
  display: block; }

.lfr-dynamic-form .aui-field-text .aui-field-input {
  width: 100%; }

.lfr-input-resource {
  width: 350px; }

.lfr-input-text, .aui-form .aui-fieldset .aui-field.lfr-input-text-container input {
  max-width: 350px;
  width: 100%; }

.lfr-input-text.flexible, .lfr-input-text-container.flexible input {
  width: auto; }

.lfr-textarea, .aui-form .aui-fieldset .aui-field.lfr-textarea-container textarea {
  height: 100px;
  max-width: 500px;
  width: 100%; }

fieldset, .aui-form fieldset {
  margin-bottom: 2em; }

fieldset:last-child, .aui-form fieldset:last-child {
  margin-bottom: 0; }

.lfr-display-terms-search {
  display: block; }

.lfr-search-button input {
  border-width: 0;
  vertical-align: middle; }

.lfr-header-row {
  border-bottom: 1px solid #7B7B7B;
  min-height: 31px; }

.lfr-header-row-content {
  padding: 3px 4px 0; }

.lfr-header-row:after, .lfr-header-row-content:after {
  clear: both;
  content: "";
  display: block;
  height: 0; }

.lfr-header-row .lfr-actions.lfr-extended {
  padding: 3px 5px 4px; }

.lfr-header-row .lfr-actions.lfr-extended .lfr-trigger {
  padding-right: 0; }

.lfr-header-row .lfr-actions.lfr-extended strong {
  padding: 0; }

.lfr-header-row .lfr-actions.lfr-extended, .lfr-header-row .lfr-search-combobox {
  border: 1px solid;
  margin-right: 2px; }

.lfr-header-row .lfr-actions.show-arrow.direction-down .lfr-trigger strong a {
  padding: 0 20px 0 4px; }

.lfr-header-row .aui-fieldset .aui-field-content, .lfr-header-row .aui-field-row, .lfr-header-row .aui-button-holder, .lfr-header-row .aui-field-wrapper-content {
  margin: 0; }

.lfr-header-row .aui-buttonitem-content, .lfr-header-row .aui-button-input, .lfr-header-row .lfr-actions.lfr-extended, .lfr-header-row .lfr-search-combobox {
  border-color: #5F5F5F; }

.lfr-header-row .aui-field-choice .aui-field-element {
  display: inline-block; }

.lfr-header-row .aui-button-input {
  padding: 4px; }

.lfr-header-row .lfr-search-combobox {
  float: right;
  margin: -2px 0 0 2px; }

.lfr-preview-file {
  position: relative; }

.lfr-preview-file-content {
  border-bottom: 1px solid #6D6D6E;
  height: 480px;
  padding: 0 0 0 135px;
  position: relative; }

.lfr-preview-image-content {
  text-align: center; }

.lfr-preview-audio-content, .lfr-preview-image-content, .lfr-preview-video-content {
  padding-left: 0; }

.lfr-preview-image-content img, .lfr-preview-video-content .aui-video-node {
  max-height: 440px;
  max-width: 100%; }

.lfr-preview-file-image-current-column, .lfr-preview-file-video-current-column {
  background: url(@theme_image_path@/common/checkerboard.png);
  padding: 20px;
  position: relative; }

.lfr-preview-file-image-container, .lfr-preview-video-content .aui-video-content {
  height: 440px;
  text-align: center;
  vertical-align: middle; }

.ie8 .lfr-preview-file-image-current-column {
  display: table;
  height: 480px;
  table-layout: fixed;
  width: 100%; }

.ie8 .lfr-preview-file-image-container {
  width: 100%; }

.lfr-preview-file-actions {
  bottom: 0.5em;
  left: 0;
  margin: 0 10px;
  position: absolute;
  right: 0; }

.lfr-preview-file-toolbar {
  background: #333;
  display: block;
  opacity: 0.5; }

.lfr-preview-file-image-current-column:hover .lfr-preview-file-toolbar {
  opacity: 1; }

.ie7 .lfr-preview-file-toolbar, .ie8 .lfr-preview-file-toolbar {
  -ms-filter: alpha(opacity=50);
  filter: alpha(opacity=50); }

.ie7 .lfr-preview-file-image-current-column:hover .lfr-preview-file-toolbar, .ie8 .lfr-preview-file-image-current-column:hover .lfr-preview-file-toolbar {
  -ms-filter: alpha(opacity=100);
  filter: alpha(opacity=100); }

.lfr-preview-file-actions .aui-toolbar {
  bottom: 0;
  position: absolute;
  right: 10px;
  width: 133px; }

.lfr-preview-file-toolbar .aui-toolbar-item {
  background: none;
  border-width: 0;
  height: auto;
  margin: 0;
  width: auto; }

.lfr-preview-file-toolbar .aui-buttonitem .aui-icon {
  height: 30px;
  margin: 0;
  width: 30px; }

.lfr-preview-file-toolbar .aui-icon-arrow-1-l {
  background: url(@theme_image_path@/document_library/preview_left.png) no-repeat 0 50%; }

.lfr-preview-file-toolbar .aui-icon-arrow-1-r {
  background: url(@theme_image_path@/document_library/preview_right.png) no-repeat 0 50%; }

.lfr-preview-file-toolbar .aui-icon-zoomin {
  background: url(@theme_image_path@/document_library/preview_zoom.png) no-repeat 0 50%; }

.lfr-preview-file-info {
  background: #333;
  color: #FFF;
  display: inline-block;
  margin-top: 0.5em;
  opacity: 0.5;
  padding: 3px 15px; }

.lfr-preview-file-info:hover {
  opacity: 1; }

.ie7 .lfr-preview-file-info, .ie8 .lfr-preview-file-info {
  -ms-filter: alpha(opacity=50);
  filter: alpha(opacity=50); }

.ie7 .lfr-preview-file-info:hover, .ie8 .lfr-preview-file-info:hover {
  -ms-filter: alpha(opacity=100);
  filter: alpha(opacity=100); }

.lfr-preview-file-index {
  font-weight: bold;
  line-height: 0; }

.lfr-preview-file-image-current {
  background: url(@theme_image_path@/aui/loading_indicator.gif) no-repeat 50% 50%;
  max-height: 440px;
  max-width: 100%;
  vertical-align: middle; }

.ie6 .lfr-preview-file-image-current {
  height: 440px;
  width: 536px; }

.lfr-preview-file-images {
  bottom: 0;
  height: 100%;
  left: 0;
  overflow: hidden;
  overflow-y: scroll;
  padding: 0 10px 0 0;
  position: absolute;
  right: 2px;
  text-align: center;
  top: 0;
  width: 125px; }

.lfr-preview-file-images-content {
  position: absolute;
  width: 100%; }

.lfr-preview-file-image {
  display: block;
  margin: 5px;
  width: 100%; }

.lfr-preview-file-image img {
  background: url(@theme_image_path@/aui/loading_indicator.gif) no-repeat 50% 50%;
  border: 1px solid #AEB8BC;
  display: inline-block;
  min-height: 40px;
  padding: 3px;
  width: 72px; }

.lfr-preview-file-image-selected img, .lfr-preview-file-image:hover img {
  border-color: #00a2ea; }

.lfr-preview-file-loading-indicator {
  background: #333;
  bottom: 0;
  color: #fff;
  left: 0;
  margin: 2px;
  padding: 2px 5px;
  position: absolute; }

.ie6 .lfr-preview-file-image-container, .ie7 .lfr-preview-file-image-container {
  display: block;
  font-size: 398.2px;
  height: 440px; }

.lfr-preview-file-image-overlay {
  height: 90%;
  width: 70%; }

.lfr-preview-file-image-overlay-content {
  background: url(@theme_image_path@/common/checkerboard.png);
  border: 2px solid #555;
  overflow: auto;
  text-align: center; }

.ie6 .lfr-preview-file-image-overlay-content img {
  position: static; }

.lfr-preview-file-arrow {
  top: 50%; }

.lfr-preview-file-arrow-left {
  left: -50px; }

.lfr-preview-file-arrow-right {
  right: -50px; }

.ie6 .lfr-preview-file {
  zoom: 1; }

.lfr-editor-textarea {
  padding: 0;
  width: 100%; }

.lfr-rich-editor.ace_editor {
  border: 1px solid #A1A2A4;
  height: 400px;
  position: relative;
  width: 100%; }

.lfr-plain-editor textarea, .lfr-rich-editor.ace_editor {
  font-family: 'Monaco', 'Menlo', 'Droid Sans Mono', 'Courier New', monospace;
  font-size: 12px; }

.lfr-search-combobox {
  float: right;
  white-space: nowrap; }

.lfr-search-combobox .aui-field-content, .lfr-search-combobox .aui-button {
  border-width: 0;
  display: inline-block;
  float: left;
  vertical-align: top; }

.lfr-search-combobox .aui-button {
  margin-left: 0.5em; }

.lfr-search-combobox:after {
  clear: both;
  content: "";
  display: block;
  height: 0; }

.lfr-search-combobox .lfr-search-combobox-item {
  margin-right: 0; }

.lfr-search-combobox .aui-button-input {
  padding: 4px; }

.ie6 .lfr-search-combobox {
  position: relative; }

.separator {
  margin: 15px auto; }

.top-links-container {
  clear: both;
  overflow: hidden; }

.top-links {
  float: right; }

.top-link .taglib-text {
  border-right: 1px solid #bbb;
  margin-right: 0.4em;
  padding-right: 0.6em; }

.top-link.last .taglib-text {
  border-width: 0; }

.top-links-navigation {
  list-style-type: none;
  float: left;
  margin: 0; }

.top-links-navigation li {
  display: inline-block;
  list-style-type: none; }

.ie6 .top-links-navigation li, .ie7 .top-links-navigation li {
  display: inline;
  zoom: 1; }

.lfr-translation-manager {
  background: #EEE;
  border: 1px solid #979798;
  border-color: #979798 #FAFAFB #FAFAFB #BDBDBE;
  color: #34404F;
  display: block;
  margin: 0 auto;
  min-height: 1.8em;
  padding: 0.5em; }
  .lfr-translation-manager .lfr-translation-manager-content .lfr-translation-manager-icon-menu {
    display: inline;
    float: none;
    margin-left: 2em;
    padding: 0.4em 0; }
    .lfr-translation-manager .lfr-translation-manager-content .lfr-translation-manager-icon-menu li, .lfr-translation-manager .lfr-translation-manager-content .lfr-translation-manager-icon-menu li strong {
      display: inline; }
  .lfr-translation-manager .lfr-translation-manager-available-translations {
    margin-top: 1em; }
    .lfr-translation-manager .lfr-translation-manager-available-translations .lfr-translation-manager-available-translations-links {
      line-height: 1; }
  .lfr-translation-manager .lfr-translation-manager-translation {
    background-color: #B3DAEF;
    border: 1px solid #5FA8FF;
    color: #444;
    cursor: pointer;
    display: inline-block;
    margin: 0.2em;
    padding: 0.4em 0.3em 0.4em 0.5em;
    text-decoration: none;
    text-shadow: 1px 1px #EEE; }
    .lfr-translation-manager .lfr-translation-manager-translation:hover {
      background-color: #D1E5EF; }
    .lfr-translation-manager .lfr-translation-manager-translation.lfr-translation-manager-translation-editing {
      background-color: #598BEC;
      border-color: #224FA8;
      color: #FFFFFF;
      font-weight: bold;
      text-shadow: -1px -1px #555555; }
      .lfr-translation-manager .lfr-translation-manager-translation.lfr-translation-manager-translation-editing .lfr-translation-manager-delete-translation {
        background-color: #FFF; }
    .lfr-translation-manager .lfr-translation-manager-translation * {
      vertical-align: middle; }
    .lfr-translation-manager .lfr-translation-manager-translation img {
      margin-right: 0.3em; }
  .lfr-translation-manager .lfr-translation-manager-delete-translation {
    display: inline-block; }
  .lfr-translation-manager label {
    font-weight: bold; }

.lfr-translation-manager-selector, .lfr-translation-manager-add-menu {
  display: inline-block;
  margin: 0.5em 0;
  white-space: nowrap; }

