.taglib-asset-categories-summary .asset-category {
  margin-bottom: 3px;
  margin-right: 3px;
  padding-right: 5px; }

.taglib-asset-links {
  border-radius: 4px;
  margin-top: 0.5em; }
  .taglib-asset-links h2 {
    background: url(@theme_image_path@/common/links.png) no-repeat 0 50%;
    color: #999;
    font-size: 1em;
    height: 16px;
    margin: 0 1em 0.2em 0;
    padding-left: 25px; }
  .taglib-asset-links .asset-links-list {
    list-style-type: none;
    margin-left: 1.2em; }
  .taglib-asset-links .asset-links-list-item {
    margin-bottom: 0.4em; }

.taglib-calendar {
  width: 190px; }

.taglib-calendar table {
  border: 1px solid #999;
  width: 100%; }

.taglib-calendar tr th, .taglib-calendar tr td {
  height: 25px;
  text-align: center;
  border-bottom: 1px solid #999; }

.taglib-calendar tr.portlet-section-header th, .taglib-calendar tr td {
  border: 1px solid #999;
  border-bottom: none;
  border-top: none;
  padding: 0;
  width: 26px; }

.taglib-calendar tr.portlet-section-header th.first, .taglib-calendar tr td.first {
  border-left: none; }

.taglib-calendar tr.portlet-section-header th.last, .taglib-calendar tr td.last {
  border-right: none; }

.taglib-calendar tr td a {
  display: block;
  height: 15px;
  padding: 5px 0; }

.taglib-calendar a:hover, .taglib-calendar a:focus {
  background-color: #ccc; }

.taglib-calendar .calendar-inactive {
  color: #999; }

.taglib-calendar .has-events a span {
  background: url(@theme_image_path@/calendar/event_indicator.png) no-repeat 50% 95%;
  padding-bottom: 5px; }

.taglib-calendar .has-events.calendar-current-day a span {
  background-image: url(@theme_image_path@/calendar/event_indicator_current.png); }

.taglib-captcha {
  margin: 1em 0; }

.taglib-captcha .captcha {
  display: block;
  margin-bottom: 1em; }

.taglib-categorization-filter.entry-title {
  color: #333; }

.taglib-categorization-filter .asset-entry {
  background-color: #DEE7F8;
  border: 1px solid #CAD8F3;
  margin-right: .5em;
  padding: 3px 18px 3px 7px;
  position: relative;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px; }

.taglib-categorization-filter .asset-entry:hover .aui-icon-close {
  background-color: #CAD8F3; }

.taglib-diff-addedline, #taglib-diff-results ins {
  background: #E6FFE6; }

.taglib-diff-context {
  background: #EEEEEE; }

.taglib-diff-deletedline, #taglib-diff-results del {
  background: #FFE6E6; }

.taglib-diff-table {
  border-collapse: separate;
  border-spacing: 5pt;
  width: 100%; }

.taglib-diff-html div.diff-removed-image {
  background: #fdc6c6 url(@theme_image_path@/diff/minus.png); }

.taglib-diff-html div.diff-added-image {
  background: #ccffcc url(@theme_image_path@/diff/plus.png) no-repeat; }

.taglib-diff-html div.diff-removed-image, div.diff-added-image {
  height: 300px;
  margin: 2px;
  opacity: 0.55;
  position: absolute;
  width: 200px; }

.gecko .taglib-diff-html div.diff-removed-image, .gecko div.diff-added-image {
  -moz-opacity: 0.55; }

.ie .taglib-diff-html div.diff-removed-image, .ie div.diff-added-image {
  filter: alpha(opacity=55); }

.taglib-diff-html span.diff-html-added img {
  border: 2px solid #cfc; }

.taglib-diff-html span.diff-html-added {
  background-color: #cfc;
  font-size: 1em; }

.taglib-diff-html span.diff-html-changed img {
  border: 2px dotted #009; }

.taglib-diff-html span.diff-html-changed {
  background: url(@theme_image_path@/diff/underline.png) bottom repeat-x; }

.taglib-diff-html span.diff-html-removed img {
  border: 2px solid #fdc6c6; }

.taglib-diff-html span.diff-html-removed {
  background-color: #fdc6c6;
  font-size: 1em;
  text-decoration: line-through; }

.taglib-discussion table.tree-walker {
  border-width: 0;
  border-collapse: collapse;
  width: 100%; }

.taglib-discussion table.tree-walker td {
  padding: 4px; }

.taglib-discussion .lfr-discussion {
  border-bottom: 1px solid #DDD;
  margin: 0 0 5px;
  padding: 5px 0 5px 0;
  position: relative;
  width: auto; }

.taglib-discussion .lfr-discussion:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden; }

.taglib-discussion .lfr-discussion.last {
  border-bottom-width: 0; }

.taglib-discussion .lfr-discussion-details {
  width: 15%; }

.taglib-discussion .lfr-discussion-details .aui-column-content {
  padding: 0; }

.taglib-discussion .lfr-discussion-details .taglib-user-display {
  padding-bottom: 0;
  padding-top: 0;
  word-wrap: break-word; }

.taglib-discussion .lfr-discussion-details .taglib-user-display .user-details .user-name, .taglib-discussion .lfr-discussion-details .taglib-user-display .user-profile-image {
  clear: none;
  vertical-align: top;
  text-align: center; }

.taglib-discussion .lfr-discussion-details .taglib-user-display .user-details .user-name {
  font-weight: bold;
  line-height: 1em;
  text-decoration: none; }

.taglib-discussion .lfr-discussion-details .taglib-user-display .user-details .user-name:hover {
  text-decoration: underline; }

.taglib-discussion .lfr-discussion-details .taglib-user-display .user-profile-image img {
  width: 50px; }

.taglib-discussion .lfr-discussion-body {
  width: 85%; }

.taglib-discussion .lfr-discussion-body .lfr-discussion-controls .taglib-ratings .aui-rating-label-element {
  padding-left: 0; }

.taglib-discussion .lfr-discussion-body-content {
  padding: 5px 0 0 0.5em; }

.taglib-discussion .lfr-discussion-posted-on {
  clear: both;
  color: #999;
  float: right;
  font-size: .9em;
  padding-top: 0.5em; }

.taglib-discussion .lfr-discussion-message {
  padding-bottom: 1em; }

.taglib-discussion .taglib-ratings {
  display: inline-block;
  margin-right: 1em; }

.taglib-discussion .lfr-discussion-actions {
  float: right;
  margin: 0; }

.taglib-discussion .lfr-discussion-actions li, .taglib-discussion .lfr-discussion-actions li a {
  display: inline-block;
  list-style: none;
  vertical-align: top; }

.taglib-discussion .lfr-discussion-actions li a, .taglib-discussion .lfr-discussion-actions li a span {
  text-decoration: none; }

.taglib-discussion .lfr-discussion-actions li a:hover span, .taglib-discussion .lfr-discussion-actions li a:focus span {
  text-decoration: underline; }

.taglib-discussion .lfr-discussion-actions li a {
  clip: rect(0 0 0 0);
  position: absolute; }

.taglib-discussion .lfr-discussion-actions a.aui-rating-element {
  margin: 0 1px; }

.taglib-discussion .lfr-discussion:hover .lfr-discussion-actions li a,
.taglib-discussion .lfr-discussion .lfr-discussion-actions li a:focus {
  clip: rect(auto auto auto auto);
  position: static; }

.lfr-discussion-controls:after {
  clear: both;
  content: "";
  display: block;
  height: 0; }

.taglib-discussion .lfr-discussion-form-container {
  clear: both; }

.taglib-discussion .lfr-discussion-form-container .lfr-discussion-form {
  background: #DDD;
  border-radius: 4px;
  display: inline-block;
  padding: 5px 5px 5px 50px;
  position: relative; }

.taglib-discussion .lfr-discussion-form-container .lfr-discussion-form.lfr-discussion-form-edit {
  left: 0;
  padding: 5px; }

.taglib-discussion .lfr-discussion-form-container .lfr-discussion-form .taglib-user-display .user-profile-image {
  left: 5px;
  position: absolute;
  top: 5px; }

.taglib-discussion .lfr-discussion-form-container .lfr-discussion-form .taglib-user-display .user-profile-image .avatar {
  width: 40px; }

.taglib-discussion .lfr-discussion-form-container .lfr-discussion-form .taglib-user-display .user-details .user-name {
  display: none; }

.taglib-discussion .lfr-discussion-form-container .lfr-discussion-form .aui-button-holder {
  margin: 5px 0 0; }

.ie6 .taglib-discussion .lfr-discussion, .ie7 .taglib-discussion .lfr-discussion {
  zoom: 1; }

.taglib-flags {
  display: inline-block; }

.taglib-flags span a {
  margin-right: 2px; }

.taglib-form-navigator .form-navigator {
  background-color: #D7F1FF;
  border: 1px solid #88C5D9;
  float: right;
  margin: 0 0 0 15px;
  padding: 10px;
  position: relative;
  width: 30%;
  z-index: 1; }

.taglib-form-navigator .form-navigator h3 {
  color: #036;
  font-size: 14px;
  font-weight: bold;
  margin: 0; }

.taglib-form-navigator .form-navigator ul {
  margin-bottom: 10px; }

.taglib-form-navigator .form-navigator li a {
  cursor: pointer;
  display: block;
  padding: 2px 0 2px 5px; }

.taglib-form-navigator .form-navigator li a:hover {
  background-color: #88C5D9;
  text-decoration: none; }

.taglib-form-navigator .form-navigator li.selected {
  background: url(@theme_image_path@/control_panel/selected.png) no-repeat 0 50%;
  font-weight: bold;
  left: -22px;
  margin-right: -22px;
  padding: 0;
  position: relative; }

.taglib-form-navigator .form-navigator li.selected a {
  background-color: #5C696E;
  color: #FFF;
  display: block;
  margin: 0 0 0 11px;
  overflow: hidden;
  padding: 2px 10px;
  text-decoration: none; }

.ie6 .taglib-form-navigator .form-navigator li.selected a:hover {
  background-color: #5C696E; }

.taglib-form-navigator .form-navigator .modified-notice {
  display: none;
  font-weight: bold; }

.taglib-form-navigator .form-navigator .section-modified .modified-notice {
  color: #090;
  display: inline; }

.taglib-form-navigator .form-navigator .selected.section-modified .modified-notice {
  color: #9F3;
  display: inline; }

.taglib-form-navigator .form-navigator li.section-error a {
  background-image: url(@theme_image_path@/messages/alert.png);
  background-position: 5px 50%;
  background-repeat: no-repeat;
  color: #F00;
  font-weight: bold;
  padding-left: 25px; }

.taglib-form-navigator .form-navigator li.selected.section-error a {
  background-position: 15px 50%;
  color: #F99;
  margin-left: 11px;
  padding-left: 35px; }

.taglib-form-navigator .form-navigator li a .error-notice {
  display: none; }

.taglib-form-navigator .form-navigator .aui-button-holder {
  margin-top: 20px; }

.taglib-form-navigator .form-section {
  float: left;
  width: 63%; }

.taglib-form-navigator .form-section .aui-fieldset {
  display: table-cell; }

.ie .form-section .aui-fieldset {
  display: block; }

.taglib-form-navigator .form-section .aui-field-input, .taglib-form-navigator .lfr-change-logo img {
  max-width: 100%; }

.ie6 .taglib-form-navigator .form-section {
  width: 60%; }

.taglib-form-navigator .form-section h3 {
  border-bottom: 1px solid #000;
  clear: both;
  font-size: 14px;
  font-weight: 700;
  margin: 10px 0; }

.taglib-header .header-title {
  margin: 0.1em; }

.taglib-header .header-back-to a {
  float: right;
  font-weight: bold;
  padding: 1em 0.2em;
  text-decoration: none; }

.taglib-header {
  border-bottom: 1px solid #C8C9CA;
  color: #555;
  margin-bottom: 1em; }

.taglib-icon {
  text-decoration: none; }

.taglib-icon .taglib-text {
  text-decoration: underline; }

.taglib-icon .taglib-text:hover {
  text-decoration: none; }

.taglib-icon-help img {
  vertical-align: middle; }

.taglib-icon-list li {
  float: left;
  margin-right: 1em; }

.taglib-icon-list:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden; }

.ie .taglib-icon-list {
  height: 1%; }

.lfr-actions {
  float: right;
  text-align: left; }

.lfr-actions.align-left {
  float: left; }

.lfr-actions ul {
  display: none;
  bottom: 0%;
  position: absolute;
  right: 100%;
  z-index: 99999; }

.lfr-actions.visible ul {
  display: block; }

.lfr-actions.align-left ul {
  right: auto;
  left: 100%; }

.lfr-actions .lfr-trigger, .lfr-actions .lfr-trigger strong {
  background-image: url(@theme_image_path@/common/button_bg.png);
  background-repeat: no-repeat;
  font-weight: normal; }

.lfr-actions .lfr-trigger {
  background-position: 100% -42px;
  cursor: pointer;
  padding-right: 3px; }

.ie6 .lfr-actions {
  height: 15px; }

.lfr-actions .lfr-trigger strong {
  display: block;
  min-width: 70px;
  padding: 2px 0 3px;
  text-align: center; }

.ie6 .lfr-actions .lfr-trigger strong {
  display: inline-block; }

.lfr-actions.visible .lfr-trigger {
  background-position: 100% 100%; }

.lfr-actions.visible .lfr-trigger strong {
  background-position: 0 -21px; }

.lfr-actions .lfr-trigger strong a {
  text-decoration: none;
  padding: 2px 5px 2px 15px;
  vertical-align: middle; }

.lfr-actions.direction-down .lfr-trigger strong a {
  padding: 2px 20px 2px 5px;
  text-decoration: none;
  vertical-align: middle; }

.lfr-actions.show-arrow .lfr-trigger strong a {
  background-image: url(@theme_image_path@/arrows/04_left.png);
  background-position: 5px 50%;
  background-repeat: no-repeat; }

.lfr-actions.show-arrow.direction-left .lfr-trigger strong a {
  background-image: url(@theme_image_path@/arrows/05_left.png);
  background-position: 5%; }

.lfr-actions.show-arrow.direction-left.disabled .lfr-trigger strong a {
  background-image: url(@theme_image_path@/arrows/09_left.png); }

.lfr-actions.show-arrow.direction-right .lfr-trigger strong a {
  background-image: url(@theme_image_path@/arrows/05_right.png);
  background-position: 98%;
  padding-right: 20px; }

.lfr-actions.show-arrow.direction-right.disabled .lfr-trigger strong a {
  background-image: url(@theme_image_path@/arrows/09_right.png); }

.lfr-actions.show-arrow.direction-down .lfr-trigger strong a {
  background-image: url(@theme_image_path@/arrows/05_down.png);
  background-position: 98% 5px; }

.lfr-actions.show-arrow.direction-down.disabled .lfr-trigger strong a {
  background-image: url(@theme_image_path@/arrows/09_down.png); }

.lfr-actions.direction-right .lfr-trigger strong a {
  background-position: 98% 50%;
  padding: 2px 10px 2px 10px; }

.lfr-menu-list-overflow {
  overflow: auto;
  overflow-x: hidden; }

.lfr-menu-list-search-container {
  overflow: hidden; }

.lfr-menu-list-search {
  border: 1px solid #FC0;
  padding: 2px;
  width: 100%; }

.ie6 .lfr-menu-list-search, .ie7 .lfr-menu-list-search {
  width: auto; }

.lfr-menu-list ul {
  background: white url(@theme_image_path@/forms/button.png) repeat-x 0 100%;
  border: 1px solid;
  border-color: #DEDEDE #BFBFBF #BFBFBF #DEDEDE; }

.lfr-menu-list li {
  background: transparent;
  border-bottom: 1px solid #DEDEDE;
  padding: 2px; }

.lfr-menu-list li nobr {
  display: block; }

.lfr-menu-list li a {
  padding: 5px 10px 5px 0;
  display: block;
  font-weight: normal;
  text-decoration: none; }

.lfr-actions li .taglib-text {
  color: #34404F;
  display: inline-block; }

.lfr-menu-list li .taglib-icon img {
  padding: 0 3px; }

.lfr-menu-list li.highlited {
  background-color: #CCC;
  border-top: 3px double #EEE; }

.lfr-menu-list li.last {
  border-bottom: none; }

.lfr-language-selector input, .lfr-language-selector textarea {
  width: 200px; }

.taglib-move-boxes {
  margin-bottom: 1em; }

.taglib-move-boxes .arrow-button img {
  border: 0;
  height: 16px;
  width: 16px; }

.taglib-move-boxes .choice-selector select {
  min-width: 150px; }

.ie .taglib-move-boxes .choice-selector select {
  width: expression(this.currentStyle.getAttribute('minWidth') || 150 + 'px'); }

.taglib-move-boxes .choice-selector label {
  background: #ebf1f9;
  border-bottom: 1px solid #8db2f3;
  display: block;
  margin-bottom: 5px;
  padding: 5px; }

.taglib-move-boxes .choice-selector .aui-field-content {
  margin-bottom: 0; }

.taglib-move-boxes .move-arrow-buttons {
  margin-top: 5em; }

.taglib-move-boxes .move-arrow-buttons .arrow-button {
  display: block; }

