.portlet-staging-bar .staging-tabview-list a, .portlet-staging-bar .staging-tabview-list .taglib-text {
  text-decoration: none; }
.portlet-staging-bar .manage-layout-branches-tab {
  margin-left: 1em; }
  .portlet-staging-bar .manage-layout-branches-tab.aui-tab-label {
    margin-left: 0; }
.portlet-staging-bar .staging-tabview-list {
  border-bottom: 1px solid #CCC;
  border-width: 0;
  font-size: 1.3em;
  margin-bottom: 0; }
  .portlet-staging-bar .staging-tabview-list .aui-tab, .portlet-staging-bar .staging-tabview-list .aui-tab-content {
    background: none;
    border-width: 0;
    height: 28px;
    min-width: 60px;
    text-align: center; }
  .portlet-staging-bar .staging-tabview-list .aui-tab-active .aui-tab-content {
    background-color: #333; }
    .portlet-staging-bar .staging-tabview-list .aui-tab-active .aui-tab-content .aui-tab-label {
      text-shadow: -1px -1px 0 black; }
  .portlet-staging-bar .staging-tabview-list .remote-live-link {
    font-size: 0.9em; }
.portlet-staging-bar .site-variations-tabview-list {
  background-image: none;
  background-color: #999;
  border-width: 0;
  font-size: 1.2em;
  margin-bottom: 0; }
  .portlet-staging-bar .site-variations-tabview-list .aui-tab, .portlet-staging-bar .site-variations-tabview-list .aui-tab-content {
    background: none;
    border-width: 0; }
    .portlet-staging-bar .site-variations-tabview-list .aui-tab .aui-tab-label, .portlet-staging-bar .site-variations-tabview-list .aui-tab-content .aui-tab-label {
      padding: 7px 10px; }
      .portlet-staging-bar .site-variations-tabview-list .aui-tab .aui-tab-label a, .portlet-staging-bar .site-variations-tabview-list .aui-tab-content .aui-tab-label a {
        color: #BBB;
        text-shadow: none;
        text-decoration: underline; }
        .portlet-staging-bar .site-variations-tabview-list .aui-tab .aui-tab-label a:hover, .portlet-staging-bar .site-variations-tabview-list .aui-tab-content .aui-tab-label a:hover {
          text-decoration: none; }
  .portlet-staging-bar .site-variations-tabview-list .aui-tab-active .aui-tab-content .aui-tab-label {
    color: #FFF;
    font-weight: bold;
    text-shadow: -1px -1px 0 #333333; }
  .portlet-staging-bar .site-variations-tabview-list .manage-layout-set-branches-tab .manage-layout-set-branches a {
    border-left: 1px solid #999;
    color: #DDD;
    font-size: 0.9em;
    margin-left: 10px;
    padding-left: 10px;
    text-decoration: none; }
    .portlet-staging-bar .site-variations-tabview-list .manage-layout-set-branches-tab .manage-layout-set-branches a .taglib-text {
      text-decoration: none; }
      .portlet-staging-bar .site-variations-tabview-list .manage-layout-set-branches-tab .manage-layout-set-branches a .taglib-text:hover {
        text-decoration: underline; }
  .portlet-staging-bar .site-variations-tabview-list .go-to-layout-set-branches-tab .lfr-trigger strong a {
    background-image: url(@theme_image_path@/arrows/06_down.png);
    text-decoration: none; }
    .portlet-staging-bar .site-variations-tabview-list .go-to-layout-set-branches-tab .lfr-trigger strong a .taglib-text {
      color: #EEE; }
.portlet-staging-bar .staging-icon-menu-container {
  display: inline-block;
  margin-top: -0.1em;
  overflow: hidden;
  position: relative;
  vertical-align: middle; }
  .portlet-staging-bar .staging-icon-menu-container a {
    display: block;
    float: right;
    min-height: 15px; }
  .portlet-staging-bar .staging-icon-menu-container .staging-icon-menu.lfr-actions .lfr-trigger strong {
    min-width: 0;
    padding: 0; }
    .portlet-staging-bar .staging-icon-menu-container .staging-icon-menu.lfr-actions .lfr-trigger strong a {
      background-image: url(@theme_image_path@/arrows/06_down.png);
      background-position: 0 4px;
      padding: 0 5px;
      opacity: 0.5; }
.portlet-staging-bar .aui-tab-active .layoutset-branches-menu.lfr-actions li .taglib-text {
  color: #FFF; }
.portlet-staging-bar .aui-tab-active .layoutset-branches-menu.lfr-actions .lfr-trigger strong {
  padding: 0;
  text-shadow: 1px 1px #000; }
.portlet-staging-bar .aui-tab-active .staging-icon-menu.lfr-actions .lfr-trigger strong a {
  opacity: 1; }
.portlet-staging-bar .branch-results {
  min-height: 300px; }
.portlet-staging-bar .layoutset-branches-menu.lfr-actions {
  float: none; }
  .portlet-staging-bar .layoutset-branches-menu.lfr-actions .lfr-trigger strong {
    display: inline; }
.portlet-staging-bar .staging-bar {
  background: #888; }
  .portlet-staging-bar .staging-bar .variations-tabview-list {
    background-color: #DDD; }
  .portlet-staging-bar .staging-bar .staging-tabview-content {
    border: solid #636364;
    border-top-color: #333;
    border-width: 1px 0;
    color: #EEE;
    margin-top: -1px;
    padding: 0.5em 1em; }
    .portlet-staging-bar .staging-bar .staging-tabview-content .staging-icon {
      float: left;
      margin-right: 1em; }
    .portlet-staging-bar .staging-bar .staging-tabview-content .layout-set-branch-info {
      font-size: 1.1em;
      margin: 0.5em 0;
      text-indent: -0.5em; }
      .portlet-staging-bar .staging-bar .staging-tabview-content .layout-set-branch-info .layout-set-branch-description {
        border-right: 1px solid #AAA;
        padding: 0 0.5em 0;
        font-style: italic; }
      .portlet-staging-bar .staging-bar .staging-tabview-content .layout-set-branch-info .layout-set-branch-pages {
        padding-left: 0.5em; }
    .portlet-staging-bar .staging-bar .staging-tabview-content .layout-info .variations-tabview-list {
      margin: 0.5em 0; }
    .portlet-staging-bar .staging-bar .staging-tabview-content .layout-info .variations-tabview-content {
      overflow: hidden; }
      .portlet-staging-bar .staging-bar .staging-tabview-content .layout-info .variations-tabview-content .layout-branch-description {
        font-style: italic;
        margin-bottom: 0.5em; }
      .portlet-staging-bar .staging-bar .staging-tabview-content .layout-info .variations-tabview-content .manage-layout-branches-tab a {
        color: #EEE; }
      .portlet-staging-bar .staging-bar .staging-tabview-content .layout-info .variations-tabview-content .layout-actions, .portlet-staging-bar .staging-bar .staging-tabview-content .layout-info .variations-tabview-content .layout-revision-details {
        float: left; }
      .portlet-staging-bar .staging-bar .staging-tabview-content .layout-info .variations-tabview-content .layout-revision-id {
        font-size: 0.6em; }
    .portlet-staging-bar .staging-bar .staging-tabview-content .layout-info .layout-title {
      font-size: 1.2em; }
      .portlet-staging-bar .staging-bar .staging-tabview-content .layout-info .layout-title .layout-title-label {
        float: left; }
      .portlet-staging-bar .staging-bar .staging-tabview-content .layout-info .layout-title .layout-breadcrumb {
        font-size: 1em; }
        .portlet-staging-bar .staging-bar .staging-tabview-content .layout-info .layout-title .layout-breadcrumb .breadcrumbs a {
          color: #EEE; }
        .portlet-staging-bar .staging-bar .staging-tabview-content .layout-info .layout-title .layout-breadcrumb .breadcrumbs-horizontal {
          margin-bottom: 0;
          overflow: hidden;
          padding-left: 0.5em; }
          .portlet-staging-bar .staging-bar .staging-tabview-content .layout-info .layout-title .layout-breadcrumb .breadcrumbs-horizontal li {
            background-image: url(@theme_image_path@/arrows/09_right.png); }
            .portlet-staging-bar .staging-bar .staging-tabview-content .layout-info .layout-title .layout-breadcrumb .breadcrumbs-horizontal li.last {
              background-image: none;
              font-weight: bold;
              position: relative;
              text-decoration: none;
              top: -0.2em; }
    .portlet-staging-bar .staging-bar .staging-tabview-content .last-publication-user {
      background: url(@theme_image_path@/common/time.png) no-repeat 0 50%;
      padding-left: 20px; }
    .portlet-staging-bar .staging-bar .staging-tabview-content .last-publication-variation-details {
      font-size: 0.8em; }
      .portlet-staging-bar .staging-bar .staging-tabview-content .last-publication-variation-details .layout-version {
        background: url(@theme_image_path@/common/pages.png) no-repeat 0 50%;
        padding: 2px 0 2px 20px; }
      .portlet-staging-bar .staging-bar .staging-tabview-content .last-publication-variation-details .variation-name {
        background: url(@theme_image_path@/common/signal_instance.png) no-repeat 0 50%;
        margin-right: 10px;
        padding: 2px 0 2px 20px; }
    .portlet-staging-bar .staging-bar .staging-tabview-content .taglib-workflow-status {
      clear: left;
      color: #FFF;
      float: left;
      margin-right: 5em; }
      .portlet-staging-bar .staging-bar .staging-tabview-content .taglib-workflow-status .workflow-status, .portlet-staging-bar .staging-bar .staging-tabview-content .taglib-workflow-status .workflow-version {
        color: #FFF; }
      .portlet-staging-bar .staging-bar .staging-tabview-content .taglib-workflow-status .workflow-status-approved, .portlet-staging-bar .staging-bar .staging-tabview-content .taglib-workflow-status .workflow-status-ready-for-publication {
        color: #8BEC59; }
      .portlet-staging-bar .staging-bar .staging-tabview-content .taglib-workflow-status .workflow-status-draft {
        color: #CAD8F3; }
      .portlet-staging-bar .staging-bar .staging-tabview-content .taglib-workflow-status .workflow-status-expired {
        color: #FF8E8E; }
    .portlet-staging-bar .staging-bar .staging-tabview-content .last-publication-branch, .portlet-staging-bar .staging-bar .staging-tabview-content .staging-live-group-name {
      display: block;
      font-size: 1.3em;
      padding: 5px 0 0; }
    .portlet-staging-bar .staging-bar .staging-tabview-content .layout-revision-toolbar {
      float: left;
      padding-left: 1em; }

.ie6 .portlet-staging-bar .staging-icon-menu-container .staging-icon-menu.lfr-actions .lfr-trigger strong a, .ie7 .portlet-staging-bar .staging-icon-menu-container .staging-icon-menu.lfr-actions .lfr-trigger strong a {
  filter: alpha(opacity=50); }
.ie6 .portlet-staging-bar .aui-tab-active .staging-icon-menu.lfr-actions .lfr-trigger strong a, .ie7 .portlet-staging-bar .aui-tab-active .staging-icon-menu.lfr-actions .lfr-trigger strong a {
  filter: alpha(opacity=100); }

.js .controls-hidden .staging-bar {
  display: none; }

