.portlet-asset-category-admin .categories-admin-actions {
  display: inline-block;
  margin: 0; }
  .portlet-asset-category-admin .categories-admin-actions .permissions-button {
    margin-left: 1em; }
  .portlet-asset-category-admin .categories-admin-actions .aui-button, .portlet-asset-category-admin .categories-admin-actions .category-actions {
    display: block;
    float: left;
    margin-left: 0;
    margin-right: 0.3em; }
  .portlet-asset-category-admin .categories-admin-actions .category-actions {
    margin-left: 0.3em;
    margin-right: 0; }
.portlet-asset-category-admin .categories-admin-container .categories-actions-toolbar {
  margin-left: 1em; }
.portlet-asset-category-admin .categories-admin-container .results-header {
  background: #F0F5F7;
  font-weight: bold;
  padding: 5px 10px;
  position: relative; }
.portlet-asset-category-admin .categories-admin-content li.vocabulary-category, .portlet-asset-category-admin .categories-admin-content li.vocabulary-item {
  font-weight: bold;
  list-style: none; }
.portlet-asset-category-admin .categories-search-combobox {
  background: #CCC; }
.portlet-asset-category-admin .categories-admin-search .aui-field-content, .portlet-asset-category-admin .categories-admin-select-search .aui-field-content {
  display: inline-block; }
.portlet-asset-category-admin .categories-admin-search .aui-field-input {
  background-image: url(@theme_image_path@/common/search.png);
  background-repeat: no-repeat;
  background-position: 5px 50%;
  padding-left: 25px;
  width: 210px; }
.portlet-asset-category-admin .select-vocabularies, .portlet-asset-category-admin .select-categories {
  float: left; }
.portlet-asset-category-admin .select-categories {
  margin-left: 8px; }
.portlet-asset-category-admin .vocabulary-list-container-content, .portlet-asset-category-admin .vocabulary-categories-container-content, .portlet-asset-category-admin .vocabulary-edit-category-content {
  padding: 0; }
.portlet-asset-category-admin .vocabulary-content-wrapper {
  position: relative; }
.portlet-asset-category-admin .vocabulary-content-wrapper, .portlet-asset-category-admin .header-title, .portlet-asset-category-admin .aui-tree-node-content .aui-tree-label {
  word-wrap: break-word; }
.portlet-asset-category-admin .vocabulary-item-actions-trigger {
  background-image: url(@theme_image_path@/common/edit.png);
  background-repeat: no-repeat;
  clip: rect(0pt, 0pt, 0pt, 0pt);
  display: block;
  height: 16px;
  margin-top: -8px;
  padding: 0;
  position: absolute;
  right: 5px;
  top: 50%;
  width: 16px; }
.portlet-asset-category-admin .vocabulary-item-check {
  margin-left: 10px;
  position: static;
  margin-top: 10px;
  float: left; }
.portlet-asset-category-admin .vocabulary-category:hover .vocabulary-item-actions-trigger, .portlet-asset-category-admin .vocabulary-category:focus .vocabulary-item-actions-trigger, .portlet-asset-category-admin .vocabulary-category .vocabulary-item-actions-trigger:focus {
  clip: rect(auto auto auto auto); }
.portlet-asset-category-admin .vocabulary-container .results-row .vocabulary-item-actions a {
  padding: 0; }
.portlet-asset-category-admin .vocabulary-item.alt {
  background: #F0F2F4; }
.portlet-asset-category-admin .vocabulary-item.selected {
  background: #AEB9BE; }
.portlet-asset-category-admin .vocabulary-item a {
  display: block;
  padding: 8px 20px 8px 10px;
  text-decoration: none; }
.portlet-asset-category-admin .vocabulary-list {
  overflow: auto;
  overflow-x: hidden; }
  .portlet-asset-category-admin .vocabulary-list .active-area {
    border: 1px solid #008000; }
    .portlet-asset-category-admin .vocabulary-list .active-area a {
      background-color: #90EE90; }
  .portlet-asset-category-admin .vocabulary-list .selected a {
    color: #000;
    text-decoration: none; }
    .portlet-asset-category-admin .vocabulary-list .selected a:hover {
      color: #FFB683; }
  .portlet-asset-category-admin .vocabulary-list .selected a, .portlet-asset-category-admin .vocabulary-list .selected .vocabulary-content-wrapper, .portlet-asset-category-admin .vocabulary-list .selected .vocabulary-content-wrapper:hover {
    background-color: #6F7D83;
    color: #FFF; }
  .portlet-asset-category-admin .vocabulary-list .vocabulary-content-wrapper {
    background-color: #F5F5F5; }
    .portlet-asset-category-admin .vocabulary-list .vocabulary-content-wrapper:hover {
      background: #D3DADD; }
.portlet-asset-category-admin .vocabulary-categories .category-item {
  background-color: #F5F5F5;
  color: #5C85AD;
  cursor: pointer;
  display: block;
  font-weight: bold;
  padding-left: 18px;
  padding-right: 5px; }
  .portlet-asset-category-admin .vocabulary-categories .category-item:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden; }
  .portlet-asset-category-admin .vocabulary-categories .category-item:hover {
    background: #D3DADD; }
  .portlet-asset-category-admin .vocabulary-categories .category-item.selected {
    background-color: #6F7D83;
    color: #FFF; }
    .portlet-asset-category-admin .vocabulary-categories .category-item.selected:hover {
      background-color: #6F7D83;
      color: #FFB683; }
.portlet-asset-category-admin .vocabulary-categories .category-name, .portlet-asset-category-admin .vocabulary-categories .category-path {
  overflow: hidden;
  padding-bottom: 8px;
  padding-top: 8px;
  text-overflow: ellipsis;
  white-space: nowrap; }
.portlet-asset-category-admin .vocabulary-categories .category-name {
  float: left;
  width: 50%; }
  .portlet-asset-category-admin .vocabulary-categories .category-name .category-item-check {
    margin-right: 3px;
    vertical-align: middle; }
.portlet-asset-category-admin .vocabulary-categories .category-path {
  float: right;
  font-weight: normal;
  font-size: 0.8em;
  text-align: right;
  width: 49%; }
.portlet-asset-category-admin .vocabulary-edit-category .category-view {
  padding: 0 5px 0 0px; }
.portlet-asset-category-admin .category-view-close {
  position: absolute;
  right: 2px;
  text-align: right;
  top: 4px; }
  .portlet-asset-category-admin .category-view-close span {
    cursor: pointer; }
.portlet-asset-category-admin #vocabulary-category-messages {
  margin: 10px; }
.portlet-asset-category-admin .categories-treeview-container .aui-tree-label {
  cursor: pointer; }
  .portlet-asset-category-admin .categories-treeview-container .aui-tree-label:hover {
    color: #06C; }
.portlet-asset-category-admin .categories-treeview-container .aui-tree-node {
  background: #F5F5F5; }
.portlet-asset-category-admin .categories-treeview-container .aui-tree-node-over {
  background: #D3DADD; }
.portlet-asset-category-admin .categories-treeview-container .aui-tree-node-content .aui-tree-hitarea {
  height: 33px; }
.portlet-asset-category-admin .categories-treeview-container .aui-tree-node-content.aui-tree-collapsed .aui-tree-hitarea {
  background-position: 0 50%; }
.portlet-asset-category-admin .categories-treeview-container .aui-tree-node-content .aui-tree-node-checkbox-container, .portlet-asset-category-admin .categories-treeview-container .aui-tree-node-content .aui-tree-label {
  display: inline-block;
  position: relative;
  top: 8px;
  vertical-align: middle; }
.portlet-asset-category-admin .categories-treeview-container .aui-tree-node-selected {
  background: #6F7D83; }
.portlet-asset-category-admin .categories-treeview-container .aui-tree-node-selected .aui-tree-label {
  color: #FFF;
  cursor: move; }
.portlet-asset-category-admin .vocabulary-container .category-name {
  width: 300px; }
.portlet-asset-category-admin .view-category {
  margin: 1em; }
  .portlet-asset-category-admin .view-category label {
    display: block;
    font-weight: bold; }
  .portlet-asset-category-admin .view-category .category-field {
    clear: left;
    margin: 1em auto; }

.portlet-asset-categories-admin-dialog .aui-fieldset {
  margin-bottom: 0; }
.portlet-asset-categories-admin-dialog .lfr-panel-container {
  background-color: transparent;
  border-width: 0; }
.portlet-asset-categories-admin-dialog .asset-category-layer .aui-overlay {
  overflow: visible;
  width: 230px; }
.portlet-asset-categories-admin-dialog .yui3-widget-bd .asset-category-layer {
  padding: 0 10px; }
  .portlet-asset-categories-admin-dialog .yui3-widget-bd .asset-category-layer .aui-field-content {
    margin-bottom: 10px; }
  .portlet-asset-categories-admin-dialog .yui3-widget-bd .asset-category-layer label {
    display: block;
    font-weight: bold; }
  .portlet-asset-categories-admin-dialog .yui3-widget-bd .asset-category-layer .aui-field input, .portlet-asset-categories-admin-dialog .yui3-widget-bd .asset-category-layer .aui-field select {
    width: 200px; }
  .portlet-asset-categories-admin-dialog .yui3-widget-bd .asset-category-layer .button-holder {
    margin-top: 10px; }
.portlet-asset-categories-admin-dialog .yui3-widget-bd .aui-field.vocabulary-checkbox {
  margin-top: 1.8em; }
  .portlet-asset-categories-admin-dialog .yui3-widget-bd .aui-field.vocabulary-checkbox input {
    width: auto; }
  .portlet-asset-categories-admin-dialog .yui3-widget-bd .aui-field.vocabulary-checkbox label {
    display: inline-block; }

.ie6 .portlet-asset-category-admin .vocabulary-content-wrapper, .ie7 .portlet-asset-category-admin .vocabulary-content-wrapper {
  width: 100%; }
.ie6 .portlet-asset-category-admin .vocabulary-item-actions-trigger, .ie7 .portlet-asset-category-admin .vocabulary-item-actions-trigger {
  cursor: pointer; }
.ie6 .portlet-asset-category-admin .vocabulary-categories .category-item, .ie7 .portlet-asset-category-admin .vocabulary-categories .category-item {
  zoom: 1; }

.ie .portlet-asset-category-admin .vocabulary-item a {
  zoom: 1; }

.ie6 .portlet-asset-categories-admin-dialog .yui3-widget-bd .asset-category-layer {
  width: 200px; }

