/* ---------- Breadcrumbs ---------- */
.breadcrumbs-horizontal {
  margin-bottom: 1.5em; }

.breadcrumbs-horizontal li {
  background: url(@theme_image_path@/arrows/05_right.png) no-repeat 100% 50%;
  margin-right: 5px;
  max-width: 50%;
  padding-right: 15px; }

.breadcrumbs-vertical li {
  background: url(@theme_image_path@/arrows/07_down.png) no-repeat 50% 100%;
  padding: 0 0 9px;
  max-width: auto; }

.breadcrumbs a {
  display: block; }

.breadcrumbs-vertical a {
  text-align: center;
  text-decoration: none; }

.breadcrumbs .last {
  background-image: none; }

.breadcrumbs-horizontal .last {
  margin-top: 0.2em; }

.breadcrumbs-vertical .last {
  font-weight: bold; }

.breadcrumbs-horizontal .last a, .aui-tree-node-selected a {
  color: #555; }

/* ---------- Hidden Accessible ---------- */
#skip-to-content, #banner h2, #banner h3, #navigation h1, .site-breadcrumbs h1 {
  clip: rect(0 0 0 0);
  position: absolute; }

.opens-new-window-accessible {
  background: url(@theme_image_path@/common/open_window.png) no-repeat 0 50%;
  display: inline-block;
  font-size: 0;
  height: 11px;
  margin-left: 2px;
  overflow: hidden;
  text-indent: -9999px;
  vertical-align: top;
  width: 11px; }

/* ---------- Extras ---------- */
.lfr-title-scope-selector {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px; }

.lfr-title-scope-selector {
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px; }

.logo .current-site, #navigation, #navigation a, .portlet, .portlet-topper, .site-breadcrumbs ul, .aui-form-validator-message {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }

/* ---------- Base styles ---------- */
body {
  background: #EEF0F2;
  color: #1A1A1A;
  font-size: 12px; }

a {
  color: #5C85AD; }

input[type="text"], input[type="password"], select, textarea, .textarea {
  background: #FFF;
  border: 1px solid #A1A2A4; }

select {
  padding: 4px; }

.display-panel-columns:after, .display-panel-columns:before {
  position: fixed;
  content: '';
  display: block;
  bottom: 0;
  top: 0;
  width: 238px;
  z-index: -1; }

.display-panel-columns:after {
  margin-left: 1px;
  border-right: 1px solid #FFF; }

.display-panel-columns:before {
  background-color: #CAD2DD;
  border-right: 1px solid #B0B1B3; }

body.portal-popup:after, body.portal-popup:before {
  display: none; }

.panels-minimized.display-panel-columns:before, .panels-minimized.display-panel-columns:after, .panels-minimized .panel-page-menu {
  left: -198px; }

.portal-add-content {
  background-color: transparent; }

.portlet-layout {
  clear: none; }

#skip-to-content, #banner, #minimize-panels span, #heading .site-title, #breadcrumbs h1, #navigation h1, .lfr-ctrl-panel .user-greeting {
  clip: rect(0 0 0 0);
  position: absolute; }

.clear {
  clear: both; }

.aui-column-content {
  zoom: 1; }

.aui-column-content:after {
  content: "";
  display: block;
  clear: both; }

#content-wrapper, .lfr-ctrl-panel {
  min-height: 100%; }

#breadcrumbs {
  left: 257px;
  position: absolute;
  right: 20px;
  top: 40px;
  z-index: 1; }

#breadcrumbs .first {
  padding-left: 3px; }

#breadcrumbs .last {
  margin-top: 0; }

#breadcrumbs .breadcrumbs {
  margin-bottom: 0; }

#breadcrumbs li.first a {
  background: url(../images/dock/control_panel.png) 0 0 no-repeat;
  padding-left: 21px; }

#breadcrumbs li, #breadcrumbs li.first a {
  display: block;
  float: left; }

#breadcrumbs li {
  background: url(../images/custom/breadcrumb_item_bg.png) 100% 50% no-repeat;
  padding: 3px 20px 3px 15px; }

#breadcrumbs li, #breadcrumbs li a {
  color: #868686;
  text-decoration: none; }

#breadcrumbs li a:hover {
  text-decoration: underline; }

#breadcrumbs li.last a {
  color: #5C85AD; }

#breadcrumbs.control-panel-category {
  top: 10px; }

.panels-minimized #breadcrumbs {
  left: 57px; }

.lfr-panel-container {
  background: transparent;
  border-width: 0; }

#breadcrumbs, .form-navigation, .lfr-panel.lfr-extended, .portlet-enterprise-admin .form-navigation, .lfr-asset-column-actions-content, .lfr-ctrl-panel-content .aui-column-content-center, .taglib-search-toggle {
  background: #E8EAEB;
  border: 1px solid #979798;
  border-color: #979798 #FAFAFB #FAFAFB #BDBDBE; }

.export-dialog-tree .lfr-panel.lfr-extended {
  background: transparent; }
.export-dialog-tree .lfr-panel.lfr-extended.lfr-collapsible .lfr-panel-titlebar {
  background: #E8EAEB;
  margin: 0; }

#content-wrapper {
  position: relative; }

.lfr-ctrl-panel .aui-tree-node-selected {
  background: transparent; }

.lfr-ctrl-panel .aui-tree-node-selected a {
  color: #333; }

.panel-page-application .lfr-panel.lfr-extended {
  margin-bottom: 5px; }

.panel-page-application .lfr-panel-container .lfr-extended.lfr-collapsible .lfr-panel-titlebar {
  border-top: none; }

#main-content .tags-admin-toolbar, #main-content .vocabulary-toolbar, .lfr-asset-column-actions-content .lfr-asset-column-actions-content, .taglib-search-toggle {
  padding: 5px 5px 2px; }

.panel-page-application .lfr-panel .lfr-panel-titlebar, .panel-page-application .lfr-panel .lfr-panel-titlebar .lfr-panel-button, .panel-page-application .lfr-panel .lfr-panel-titlebar .lfr-panel-button {
  background: url(../images/custom/panel_normal_header_toggler_bg.png) -3px -1px no-repeat;
  margin: 2px 0 0; }

.panel-page-application .lfr-panel.lfr-extended .lfr-panel-titlebar, .panel-page-application .lfr-panel.lfr-extended .lfr-panel-titlebar .lfr-panel-button, .panel-page-application .lfr-panel.lfr-extended .lfr-panel-titlebar .lfr-panel-button {
  background: url(../images/custom/panel_header_toggler_bg.png) -3px -1px no-repeat;
  margin: 2px 0 0; }

.panel-page-application .lfr-panel.lfr-extended .lfr-panel-titlebar {
  background: transparent none;
  padding: 0 3px 0 5px; }

.panel-page-application .lfr-panel.lfr-extended #panel-manage-content .lfr-panel-titlebar {
  padding: 0; }

.panel-page-application .lfr-panel.lfr-collapsed .lfr-panel-titlebar {
  border-bottom: 1px solid #DEDEDE; }

.panel-page-application .lfr-panel.lfr-collapsed .lfr-panel-titlebar, .panel-page-application .lfr-panel.lfr-collapsed .lfr-panel-titlebar .lfr-panel-button {
  background-position: -3px -23px; }

.panel-page-menu {
  position: relative;
  width: 238px; }

.panels-minimized .panel-page-menu {
  position: absolute; }

#wrapper div.panel-page-body {
  float: none;
  padding: 44px 20px 0 260px;
  width: auto; }

.panels-minimized #wrapper div.panel-page-body {
  padding-left: 60px; }

.aui-tagselector-content {
  margin-bottom: 0; }

.lfr-ctrl-panel-content .aui-column-content, .lfr-ctrl-panel-content .aui-column-content-center, .lfr-ctrl-panel .panel-page-menu-content {
  padding: 0 0 0; }

.search-panels {
  background: url(../images/custom/search_panels_bg.png) 0 0 repeat-x;
  display: block;
  height: 42px;
  width: 100%;
  z-index: 5; }

.search-panels .aui-field-content {
  display: block;
  line-height: 1;
  padding: 9px;
  position: relative; }

.panels-minimized .search-panels {
  cursor: pointer; }

.search-panels .search-panels-input {
  background: white url(../images/custom/search_input_icon_bg.gif) 5px 50% no-repeat;
  display: block;
  padding: 3px 4px 3px 20px;
  width: 191px; }

.panels-minimized .search-panels-input {
  visibility: hidden; }

.panels-minimized .search-panels .aui-field-element {
  background: url(../images/custom/search_navigation_min_icon.png) 100% 50% no-repeat;
  border-bottom: none;
  display: block;
  position: relative;
  width: 100%; }

.search-panels .cancel-search {
  background: transparent url(../images/custom/search_reset_button.png) 0 0 no-repeat;
  border-width: 0;
  display: none;
  height: 16px;
  position: absolute;
  right: 14px;
  text-indent: -9999px;
  top: 14px;
  width: 16px; }

.search-panel-active .search-panels .cancel-search {
  display: block; }

#minimize-panels {
  background: #333;
  position: absolute;
  right: -10px;
  top: 4px;
  z-index: 6; }

#minimize-panels, #minimize-panels a {
  display: block;
  height: 33px;
  width: 10px; }

#minimize-panels a {
  background: url(../images/custom/toggle_panels_bg.gif) 1px 0 no-repeat;
  border-bottom: 1px solid #FFF; }

.panels-minimized #minimize-panels a {
  background-position: 1px -34px; }

.panel-page-menu .lfr-panel.lfr-extended {
  background: #D3DBE4;
  border-width: 0; }

.panel-page-menu .lfr-panel .lfr-panel-content {
  background: #dce3ea url(../images/custom/shadow_top_bg.png) 0 0 repeat-x; }

.panel-page-menu .lfr-panel.lfr-extended .lfr-panel-content ul {
  background: transparent url(../images/custom/shadow_bottom_bg.png) 0 100% repeat-x;
  border-bottom: 1px solid #ABB2B9;
  padding: 5px 0; }

.panel-page-menu .lfr-panel.lfr-extended .lfr-panel-titlebar {
  background: transparent;
  border-top: 1px solid #F0F1F2;
  margin-bottom: 0;
  padding: 7px 6px 6px; }

.panel-page-menu #panel-manage-content .lfr-panel-titlebar {
  padding: 3px 6px; }

.panel-page-menu #panel-manage-content .lfr-panel-titlebar .lfr-panel-title-single {
  padding: 7px 6px 6px; }

.panel-page-menu .lfr-panel.lfr-collapsed .lfr-panel-titlebar {
  background: #CAD2DD;
  border-top: 1px solid transparent; }

.panel-page-menu .lfr-panel-titlebar .lfr-panel-button, .panel-page-menu .lfr-panel-titlebar .lfr-panel-button:hover, .panel-page-menu .lfr-panel.lfr-collapsed .lfr-panel-titlebar .lfr-panel-button, .panel-page-menu #controlPanelMenuAddContentPanelContainer .lfr-panel-titlebar a.lfr-panel-button:focus {
  background: transparent url(../images/custom/panel_header_toggler_bg.png) 0 0 no-repeat; }

.panel-page-menu .lfr-panel.lfr-collapsed .lfr-panel-titlebar .lfr-panel-button, .panel-page-menu .lfr-panel.lfr-collapsed .lfr-panel-titlebar .lfr-panel-button:hover {
  background-position: 0 -22px; }

.panel-page-menu .lfr-panel-titlebar {
  border-bottom: 1px solid #898F95; }

.search-panel-active .panel-page-menu .lfr-panel.lfr-extended .lfr-panel-content ul {
  padding: 0;
  border: 0; }

.search-panel-active .panel-page-menu li a {
  border-style: solid;
  border-width: 0 0 0 5px; }

.search-panel-active .panel-page-menu .lfr-panel.lfr-extended .lfr-panel-titlebar, .panels-minimized .panel-page-menu .lfr-panel.lfr-extended .lfr-panel-titlebar {
  background: #CAD2DD;
  border: none; }

.search-panel-active #panel-manage-my li a {
  border-color: #76AD00; }

.search-panel-active #panel-manage-content li a {
  border-color: #006FCE; }

.search-panel-active #panel-manage-portal li a {
  border-color: #4A37BB; }

.search-panel-active #panel-manage-server li a {
  border-color: #6E6E6E; }

.panel-page-menu .lfr-panel-titlebar .lfr-panel-title {
  background-image: url(../images/custom/panel_icons_bg.png);
  background-repeat: no-repeat;
  font-size: 13px;
  padding-left: 20px; }

.panel-page-menu #panel-manage-content.lfr-collapsed .lfr-panel-title .lfr-actions, .panels-minimized .panel-page-menu #panel-manage-content .lfr-panel-title .lfr-actions {
  border-width: 0;
  background-color: transparent;
  background-image: none; }

.panel-page-menu #panel-manage-content .lfr-panel-title .lfr-actions .lfr-trigger img {
  vertical-align: text-bottom; }

.panel-page-menu #panel-manage-content.lfr-collapsed .lfr-panel-title .lfr-actions .lfr-trigger img {
  padding-left: 0; }

.panel-page-menu #panel-manage-content .lfr-panel-title span a, .panels-minimized .panel-page-menu #panel-manage-content .lfr-panel-title {
  font-size: 13px;
  padding-left: 20px; }

.panel-page-menu #panel-manage-content .lfr-panel-title {
  padding-left: 0; }

.panel-page-menu .panel-page-application {
  float: left;
  margin-left: 258px; }

.panel-page-menu .lfr-panel-content {
  padding: 0; }

.panel-page-menu .lfr-panel-content ul {
  background-position: -238px 0;
  background-repeat: no-repeat; }

.panel-page-menu .lfr-panel-content ul.category-portlets {
  clear: both; }

.panel-page-menu .lfr-panel-content ul li a {
  color: #2D2D2D;
  display: block;
  outline: 0;
  padding: 5px 8px 5px 20px; }

.panel-page-menu .lfr-panel-content .lfr-title-scope-selector {
  margin-left: 20px; }

.panel-page-menu .lfr-panel-content ul li.selected-portlet a {
  color: #FFF;
  font-weight: bold;
  position: relative; }

.ie7 .panel-page-menu .lfr-panel-content ul li.selected-portlet a, .ie7 .panel-page-menu .lfr-panel-content {
  zoom: 1; }

.panel-page-menu .lfr-panel-content ul li.selected-portlet a:after, .panel-page-menu .lfr-panel-content ul li.selected-portlet a:focus:after {
  border: 8px solid #EEF0F2;
  border-color: transparent #EEF0F2 transparent transparent;
  content: "";
  display: block;
  position: absolute;
  right: -2px;
  margin-top: -8px;
  top: 50%;
  z-index: 2; }

.panel-page-menu #panel-manage-my .lfr-panel-content ul li.selected-portlet a:focus:after {
  background-position: -8px 0; }

.panel-page-menu .lfr-panel-content ul li a:hover {
  background-color: #EBF0F5;
  text-decoration: underline; }

.panel-page-menu .lfr-panel-content ul li a .icon {
  float: left;
  padding: 0 4px 0 0; }

.panel-page-menu #groupSelectorPanel .lfr-panel-content ul li a {
  color: #222; }

.panel-page-menu #panel-manage-my .lfr-panel-title {
  background-position: 0 3px; }

.panel-page-menu .lfr-panel-content {
  background-color: transparent; }

.panel-page-menu #panel-manage-content .lfr-panel-title, .panels-minimized .panel-page-menu #panel-manage-content .lfr-panel-title {
  background-image: none;
  display: inline-block;
  vertical-align: top; }

.panels-minimized .panel-page-menu #panel-manage-content .lfr-panel-title {
  background-image: url(../images/common/site_icon.png);
  background-position: 50%;
  display: inline-block;
  vertical-align: top; }

.panel-page-menu #panel-manage-content .lfr-panel-title span a {
  font-weight: bold;
  padding-left: 2px;
  position: relative; }

.panel-page-menu #panel-manage-content .lfr-panel-title span a:after {
  content: "";
  position: absolute;
  right: 5px;
  top: 10px; }

.panel-page-menu #panel-manage-content .lfr-panel-title span a:focus {
  background-color: transparent;
  text-decoration: none; }

.panel-page-menu #panel-manage-marketplace .lfr-panel-title {
  background-position: 0 -72px; }

.panel-page-menu #panel-manage-portal .lfr-panel-title {
  background-position: 0 -36px; }

.panel-page-menu #panel-manage-server .lfr-panel-title {
  background-position: 0 -55px; }

.panel-page-menu #panel-manage-server .lfr-panel-content {
  border-bottom: 1px solid #FFF; }

.portlet-title {
  color: #1A1A1A;
  font-size: 27px;
  font-weight: normal;
  text-shadow: 1px 1px 0 #FFF; }

.search-panel-active #controlPanelMenuAddContentPanelContainer .lfr-panel .lfr-panel-content {
  background-color: #CAD2DD; }

.search-panel-active #controlPanelMenuAddContentPanelContainer {
  background: #EEF0F2; }

.search-panel-active #controlPanelMenuAddContentPanelContainer a {
  color: #333; }

.search-panel-active #controlPanelMenuAddContentPanelContainer li.selected-portlet a {
  color: #FFF; }

#controlPanelMenuAddContentPanelContainer a:focus {
  color: #FFF;
  font-weight: bold;
  text-decoration: underline; }

.search-panel-active #controlPanelMenuAddContentPanelContainer .lfr-panel.lfr-extended, .search-panel-active #controlPanelMenuAddContentPanelContainer .lfr-panel.lfr-extended .lfr-panel-content, .search-panel-active #controlPanelMenuAddContentPanelContainer .lfr-panel.lfr-extended .lfr-panel-content ul {
  background: transparent; }

#controlPanelMenuAddContentPanelContainer a:focus {
  background-color: #5487AF; }

.search-panel-active #controlPanelMenuAddContentPanelContainer #panel-manage-my li a:focus, .search-panel-active #controlPanelMenuAddContentPanelContainer #panel-manage-my li.selected-portlet a {
  background-color: #76AD00; }

.search-panel-active #controlPanelMenuAddContentPanelContainer #panel-manage-content li a:focus, .search-panel-active #controlPanelMenuAddContentPanelContainer #panel-manage-content li.selected-portlet a {
  background-color: #005BA8; }

.search-panel-active #controlPanelMenuAddContentPanelContainer #panel-manage-portal li a:focus, .search-panel-active #controlPanelMenuAddContentPanelContainer #panel-manage-portal li.selected-portlet a {
  background-color: #680082; }

.search-panel-active #controlPanelMenuAddContentPanelContainer #panel-manage-server li a:focus, .search-panel-active #controlPanelMenuAddContentPanelContainer #panel-manage-server li.selected-portlet a {
  background-color: #727171; }

.panel-page-menu #controlPanelMenuAddContentPanelContainer .lfr-panel-titlebar a.lfr-panel-button:focus {
  background: transparent url(../images/custom/panel_header_toggler_bg.png) 0 0 no-repeat; }

.search-panel-active .lfr-collapsed .lfr-panel-content {
  display: block; }

.panels-minimized #controlPanelMenuAddContentPanelContainer .lfr-panel {
  position: relative; }

.panels-minimized .panel-page-menu .lfr-panel .lfr-panel-titlebar .lfr-panel-button, .search-panel-active #controlPanelMenuAddContentPanelContainer .lfr-panel-titlebar {
  display: none; }

.panels-minimized .panel-page-menu .lfr-panel-titlebar {
  height: 22px; }

.panels-minimized .panel-page-menu .lfr-panel-titlebar .lfr-panel-title, .panels-minimized .panel-page-menu #panel-manage-content .lfr-panel-title {
  height: 19px;
  overflow: hidden;
  padding-left: 0;
  position: absolute;
  right: 10px;
  text-indent: -9999px;
  top: 8px;
  width: 19px; }

.panels-minimized #controlPanelMenuAddContentPanelContainer .lfr-panel-content {
  border: 3px solid #333;
  display: none;
  left: 100%;
  position: absolute;
  top: 0;
  width: 238px;
  z-index: 12; }

.panels-minimized #controlPanelMenuAddContentPanelContainer .lfr-panel-content:before {
  background: #333333 url(../images/common/user_icon_white.png) no-repeat 50%;
  content: '';
  display: block;
  height: 35px;
  left: -38px;
  position: absolute;
  top: -3px;
  width: 35px;
  z-index: 1; }

.panels-minimized .panel-page-menu #controlPanelMenuAddContentPanelContainer #panel-manage-content .lfr-panel-content:before {
  background-image: url(../images/common/site_icon.png); }

.panels-minimized .panel-page-menu #controlPanelMenuAddContentPanelContainer #panel-manage-portal .lfr-panel-content:before {
  background-image: url(../images/custom/panel_icons_white_portal_bg.png); }

.panels-minimized .panel-page-menu #controlPanelMenuAddContentPanelContainer #panel-manage-server .lfr-panel-content:before {
  background-image: url(../images/custom/panel_icons_white_server_bg.png); }

.panels-minimized #controlPanelMenuAddContentPanelContainer .lfr-panel:hover .lfr-panel-content {
  display: block; }

.lfr-table tr td, .lfr-table tr th {
  padding: 2px 5px; }

.portlet-enterprise-admin .form-navigation {
  background: #F6F8FB; }

.portlet-message-boards .threads-panel {
  margin-top: 0; }

#quick-links {
  padding: 10px;
  min-height: 20px; }

.drop-zone {
  background: #333; }

.drop-active {
  background: #FFF; }

.portlet-document-library .portlet-content {
  padding: 12px 0; }

.portlet-description {
  background-color: #E6F5F0;
  border-color: #8DD4AE;
  font-weight: normal;
  padding-bottom: 10px;
  padding-top: 10px; }
  .portlet-description .warn {
    display: block;
    margin: 0; }
    .portlet-description .warn strong {
      color: #B00; }

/*----- Extras -----*/
input[type="text"], input[type="password"], select, textarea, .textarea, .aui-tagselector-content .aui-textboxlistentry-holder {
  -moz-box-shadow: 0 1px 0 white, 0 1px 2px #cccccc inset;
  -webkit-box-shadow: 0 1px 0 white, 0 1px 2px #cccccc inset;
  -o-box-shadow: 0 1px 0 white, 0 1px 2px #cccccc inset;
  box-shadow: 0 1px 0 white, 0 1px 2px #cccccc inset; }

.lfr-search-combobox .aui-field-input {
  -moz-box-shadow: 0 1px 2px #cccccc inset;
  -webkit-box-shadow: 0 1px 2px #cccccc inset;
  -o-box-shadow: 0 1px 2px #cccccc inset;
  box-shadow: 0 1px 2px #cccccc inset; }

input[type="text"], input[type="password"], select, textarea, .textarea, #breadcrumbs, .form-navigation, .lfr-panel.lfr-extended, .portlet-enterprise-admin .form-navigation, .lfr-asset-column-actions-content, .lfr-ctrl-panel-content .aui-column-content-center, .taglib-search-toggle, .portlet-communities .layout-breadcrumb ul, .portlet-enterprise-admin .layout-breadcrumb ul, .aui-textboxlistentry-holder, .aui-field-element {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px; }

.export-dialog-tree .lfr-panel.lfr-extended.lfr-collapsible .lfr-panel-titlebar {
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -khtml-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0; }

#breadcrumbs, .form-navigation, .lfr-panel.lfr-extended, .portlet-enterprise-admin .form-navigation, .lfr-asset-column-actions-content, .lfr-ctrl-panel-content .aui-column-content-center, .taglib-search-toggle {
  -moz-box-shadow: 0 0 8px #cecece inset;
  -webkit-box-shadow: 0 0 8px #cecece inset;
  -o-box-shadow: 0 0 8px #cecece inset;
  box-shadow: 0 0 8px #cecece inset; }

#minimize-panels {
  -moz-border-radius: 0 2px 2px 0;
  -webkit-border-radius: 0 2px 2px 0;
  -o-border-radius: 0 2px 2px 0;
  -ms-border-radius: 0 2px 2px 0;
  -khtml-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0; }

.panels-minimized #controlPanelMenuAddContentPanelContainer .lfr-panel-content {
  -moz-border-radius: 0 6px 6px 0;
  -webkit-border-radius: 0 6px 6px 0;
  -o-border-radius: 0 6px 6px 0;
  -ms-border-radius: 0 6px 6px 0;
  -khtml-border-radius: 0 6px 6px 0;
  border-radius: 0 6px 6px 0; }

.panels-minimized #controlPanelMenuAddContentPanelContainer .lfr-panel-content:before {
  -moz-border-radius: 6px 0 0 6px;
  -webkit-border-radius: 6px 0 0 6px;
  -o-border-radius: 6px 0 0 6px;
  -ms-border-radius: 6px 0 0 6px;
  -khtml-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px; }

.search-panel-active #controlPanelMenuAddContentPanelContainer .lfr-panel .lfr-panel-content, .search-panel-active #controlPanelMenuAddContentPanelContainer .lfr-panel.lfr-extended, #controlPanelMenuAddContentPanelContainer a.lfr-panel-button:focus, .aui-tagselector .lfr-tag-selector-input {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none; }

.search-panel-active #controlPanelMenuAddContentPanelContainer {
  -moz-box-shadow: 0 0 5px #111111 inset;
  -webkit-box-shadow: 0 0 5px #111111 inset;
  -o-box-shadow: 0 0 5px #111111 inset;
  box-shadow: 0 0 5px #111111 inset; }

#controlPanelMenuAddContentPanelContainer a:focus {
  -moz-box-shadow: 0 0 6px #3e9ae1;
  -webkit-box-shadow: 0 0 6px #3e9ae1;
  -o-box-shadow: 0 0 6px #3e9ae1;
  box-shadow: 0 0 6px #3e9ae1; }

.search-panel-active #controlPanelMenuAddContentPanelContainer .lfr-panel.lfr-extended {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0; }

.lfr-preview-file-toolbar, .lfr-preview-file-index, .lfr-preview-file-info, .panel-page-menu #panel-manage-content .lfr-panel-title span {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px; }

.panel-page-menu .lfr-panel.lfr-extended, .panel-page-menu .lfr-panel-container, .panel-page-menu .lfr-floating-container, .panel-page-menu .lfr-panel-container .lfr-extended.lfr-collapsible .lfr-panel-titlebar, .panel-page-menu .lfr-panel.lfr-extended .lfr-panel-titlebar, .panel-page-application .lfr-document-library-comments.lfr-panel.lfr-extended {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none; }

.panel-page-menu .lfr-panel.lfr-extended .lfr-panel-titlebar {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFD2DBE4', endColorstr='#FFBDC8D6');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d2dbe4), color-stop(100%, #bdc8d6));
  background-image: -webkit-linear-gradient(#d2dbe4, #bdc8d6);
  background-image: -moz-linear-gradient(#d2dbe4, #bdc8d6);
  background-image: -o-linear-gradient(#d2dbe4, #bdc8d6);
  background-image: -ms-linear-gradient(#d2dbe4, #bdc8d6);
  background-image: linear-gradient(#d2dbe4, #bdc8d6); }

.panel-page-menu .lfr-panel.lfr-collapsed .lfr-panel-titlebar, .panels-minimized .panel-page-menu .lfr-panel.lfr-extended .lfr-panel-titlebar {
  background-image: none; }

.panel-page-menu .lfr-panel-content ul li.selected-portlet a {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF427EAD', endColorstr='#FF154B75');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #427ead), color-stop(100%, #154b75));
  background-image: -webkit-linear-gradient(#427ead, #154b75);
  background-image: -moz-linear-gradient(#427ead, #154b75);
  background-image: -o-linear-gradient(#427ead, #154b75);
  background-image: -ms-linear-gradient(#427ead, #154b75);
  background-image: linear-gradient(#427ead, #154b75); }

