.aui-document-library-file-entry-cell-editor-hidden {
	display: none;
}

.portlet-document-library, .portlet-dynamic-data-mapping {
	.aui-diagram-builder-drop-container {
		overflow: auto;
	}

	.aui-field-labels-inline {
		clear: both;
		display: block;

		.aui-field-label {
			margin-top: 0;
		}
	}

	.aui-field {
		.aui-field-content {
			clear: both;
		}
	}

	.lfr-structure-entry-details-container {
		margin-top: 10px;

		.lfr-panel-content {
			padding: 10px;
		}
	}

	.lfr-translation-manager {
		margin-bottom: 15px;
	}

	.lfr-ddm-types-form-column .aui-column-content-first {
		margin-right: 10px;
	}

	.lfr-ddm-search-form .aui-column {
		margin-right: 10px;
	}

	.lfr-template-editor {
		.aui-field-element, .aui-field-content, .aui-field-input-text {
			display: block;
		}

		.aui-field-input-text {
			height: 400px;
		}
	}
}